<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - Articles Large Title Text</title>
<meta name="description" content="Tachyons Component">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }
</style>

</head>
<body class="w-100 sans-serif bg-white">
<main>
  <article class="pa3 pa5-ns">
  <h1 class="f2 f-subheadline-ns">9.5.1 If the text will be read on the screen, design it for that medium.</h1>
  <p class="f4 f3-ns measure lh-copy">
    Like a forest or a garden or a field, an honest page of letters can absorb --
    and will repay -- as much attention as it is given. Much type now, however, is
    composed not for the page but for the screen of a computer. That screen can be
    alive with flowing color, but the best computer monitors have dismal resolution
    (about 130 dpi: one fifth the current norm for laser printers and roughly 5% of
    the norm for professional digital typesetting). When the text is crudely
    rendered, the eye goes looking for distraction, which the screen is all too
    able to provide.
  </p>
  <p class="f4 f3-ns measure lh-copy">
    The screen mimics the sky, not the earth. It bombards the eye with light
    instead of waiting to repay the gift of vision. It is not simultaneously
    restful and lively, like a field full of flowers, or the face of a thinking
    human being, or a well-made typographic page. And we read the screen the way
    we read the sky: in quick sweeps, guessing at the weather from the changing
    shapes of clouds, or like astronomers, in magnified small bits, examining
    details. We look to it for clues and revelations more than wisdom. This makes
    it an attractive place for advertising and dogmatizing, but not so good a
    place for thoughtful text.
  </p>
  <p class="f4 f3-ns measure lh-copy">
    The screen, in other words, is a reading environment even more fugitive than
    the newspaper. Intricate long sentences full of unfamiliar words stand little
    chance. At text size, subtle and delicate letterforms stand little chance as
    well. Superscripts and subscripts, footnotes, endnotes, sidenotes disappear. In
    the harsh light and coarse resolution of the screen such accessories are
    difficult to see; what is worse, they dispel the essential illusion of speed.
    so the links and jumps of hypertext replace them. All the subtexts then can be
    the same size and readers are at liberty to skip from text to text like
    children switching channels on tv. When reading takes this form, sentences and
    letterforms retreat to blunt simplicity. Forms bred on newsprint and signage
    are most likely to survive.
  </p>
</article>

  <section data-name="component-info" class="pa3 pa5-ns bt b--black-10 black-70" style="background: #fafafa;">
  <h1 class="f4 f3-ns mt4">Large Title Text</h1>

<div class="cf">
<div class="fl w-100 w-75-ns pr0 pr2-ns">
<h2 class="f5">HTML</h2>
<p class="f5 black-70"></p>
<pre class="pa3 ba br2 b--black-05 h5" id="html">
&lt;article class=&quot;pa3 pa5-ns&quot;&gt;
  &lt;h1 class=&quot;f2 f-subheadline-ns&quot;&gt;9.5.1 If the text will be read on the screen, design it for that medium.&lt;/h1&gt;
  &lt;p class=&quot;f4 f3-ns measure lh-copy&quot;&gt;
    Like a forest or a garden or a field, an honest page of letters can absorb --
    and will repay -- as much attention as it is given. Much type now, however, is
    composed not for the page but for the screen of a computer. That screen can be
    alive with flowing color, but the best computer monitors have dismal resolution
    (about 130 dpi: one fifth the current norm for laser printers and roughly 5% of
    the norm for professional digital typesetting). When the text is crudely
    rendered, the eye goes looking for distraction, which the screen is all too
    able to provide.
  &lt;/p&gt;
  &lt;p class=&quot;f4 f3-ns measure lh-copy&quot;&gt;
    The screen mimics the sky, not the earth. It bombards the eye with light
    instead of waiting to repay the gift of vision. It is not simultaneously
    restful and lively, like a field full of flowers, or the face of a thinking
    human being, or a well-made typographic page. And we read the screen the way
    we read the sky: in quick sweeps, guessing at the weather from the changing
    shapes of clouds, or like astronomers, in magnified small bits, examining
    details. We look to it for clues and revelations more than wisdom. This makes
    it an attractive place for advertising and dogmatizing, but not so good a
    place for thoughtful text.
  &lt;/p&gt;
  &lt;p class=&quot;f4 f3-ns measure lh-copy&quot;&gt;
    The screen, in other words, is a reading environment even more fugitive than
    the newspaper. Intricate long sentences full of unfamiliar words stand little
    chance. At text size, subtle and delicate letterforms stand little chance as
    well. Superscripts and subscripts, footnotes, endnotes, sidenotes disappear. In
    the harsh light and coarse resolution of the screen such accessories are
    difficult to see; what is worse, they dispel the essential illusion of speed.
    so the links and jumps of hypertext replace them. All the subtexts then can be
    the same size and readers are at liberty to skip from text to text like
    children switching channels on tv. When reading takes this form, sentences and
    letterforms retreat to blunt simplicity. Forms bred on newsprint and signage
    are most likely to survive.
  &lt;/p&gt;
&lt;/article&gt;

</pre>
</div>
<div class="fl w-100 w-25-ns pl0 pl2-ns">
<h2 class="f5">CSS</h2>
<pre class="pa3 ba br2 b--black-05 h5" id="css">.lh-copy {
    line-height: 1.6;
}

.pa3 {
    padding: 1rem;
}

.f2 {
    font-size: 2.25rem;
}

.f4 {
    font-size: 1.25rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 48em) {
    .pa5-ns {
        padding: 4rem;
    }

    .f-subheadline-ns {
        font-size: 5rem;
    }

    .f3-ns {
        font-size: 1.5rem;
    }
}

</pre>
</div>
</div>
<div class="cf">
  <div class="fl w-100 w-50-ns">
    <h2 class="f5 mt4">Modules referenced</h2>
    <ul class="list pl0 cf lh-copy mw7">
      
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-line-height">tachyons-line-height</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-spacing">tachyons-spacing</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-type-scale">tachyons-type-scale</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-typography">tachyons-typography</a></li>
  
    </ul>
  </div>
  <div class="fl w-100 w-50-ns pl0 pl4-ns">
    <h2 class="f5 mb3 mt4">CSS Stats for this Component</h2>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Size (Gzipped)</dt>
      <dd class="ml0 b f3 f2-ns">190</dd>
    </dl>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Selectors</dt>
      <dd class="ml0 b f3 f2-ns">8</dd>
    </dl>
    <dl class="dib mt0">
      <dt class="db f6">Declarations</dt>
      <dd class="ml0 b f3 f2-ns">8</dd>
    </dl>
  </div>
</div>

  


  <h4 class="mt5">Install via npm <small class="fw2 f6 db mt1">Only installs the needed tachyons-modules for this component</small></h4>
  <code class="f6">npm i --save tachyons-line-height tachyons-spacing tachyons-type-scale tachyons-typography</code>
  <section class="bt b--black-10 mt5 pv4">
    <h1 class="f6 b ttu">Other Components</h1>

  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">articles</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/large-title-text/index.html">Large Title Text</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/title-text-image/index.html">Title Text Image</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">collections</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/collections/product-card/index.html">Product Card</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">footers</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/footers/small-print/index.html">Small Print</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">headers</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/headers/circle-avatar-title-subtitle/index.html">Circle Avatar Title Subtitle</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">layout</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/flag-object/index.html">Flag Object</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/two-column/index.html">Two Column</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">lists</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/large-links-inline/index.html">Large Links Inline</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/links-inline/index.html">Links Inline</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">nav</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/nav/large-title-link-list/index.html">Large Title Link List</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/nav/title-link-list/index.html">Title Link List</a>
      
    </div>
  
  </section>
  </section>
</main>

  

	<script src="/js/highlight.min.js"></script>
<script>
  hljs.highlightBlock(document.querySelector('#css'))
  hljs.highlightBlock(document.querySelector('#html'))
</script>
<style>
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
</style>

  <footer class="bg-near-white mid-gray ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <a href="https://twitter.com/intent/tweet?text=Tachyons: Functional CSS for Humans.&url=http://tachyons.io" target="_blank" class="dn mb3 twitter bg-white link dim br2 ph2 pb1 pt0 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="dib v-mid white fw6" style="font-size: 12px;">Tweet</span>
  </a>
  <article>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </article>

  <p>
    <a class="black-70 link dim b dib mr3" href="http://tachyons-slack-invite.herokuapp.com" title="Join our Slack Channel">
      Join our Slack Channel
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css/tachyons/issues" title="File a bug, request a feature, ask a question!">
      Open an Issue
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css" title="Tachyons-css on GitHub">
      GitHub
    </a>
  </p>
  <p class="measure copy lh-copy">
    Have a question? Need help? Feel free to open an issue on GitHub or ask a
    question in our slack channel. We're here to try and help make designing in
    the browser fun.
  </p>
  <small class="f6 measure db lh-copy mt5">
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle
    that always moves faster than light.
    The word comes from the Greek:
    <br> <br>
    ταχύς or tachys, meaning "swift, quick, fast, rapid"
  </small>
</footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>

</body>
</html>


