{{{
  "bodyClass" : "bg-white"
}}}
<article class="cf ph3 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr3-ns">
    <h1 class="mb3 mt0">This is an Article Title with a really really really long title.</h1>
    <time class="f6 ttu tracked gray">November 12, 2009</time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="lh-copy measure mt0">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p class="lh-copy measure">
      Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
      duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata o
      sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
</article>
