<section class="bt b--black-10 mt5 pv4">
  <h1 class="f6 b ttu">Other Components</h1>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">article-lists</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/article-lists/title-preview-author-media-flipped/index.html">Title Preview Author Media Flipped</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/article-lists/title-preview-author-media/index.html">Title Preview Author Media</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">articles</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/feature/index.html">Feature</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/full-bleed-background/index.html">Full Bleed Background</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/headline-title-text/index.html">Headline Title Text</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/large-title-text/index.html">Large Title Text</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/left-title-top-border/index.html">Left Title Top Border</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/left-title/index.html">Left Title</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/photo-essay/index.html">Photo Essay</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/single-column-large-title/index.html">Single Column Large Title</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/title-text-image/index.html">Title Text Image</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/articles/title-text/index.html">Title Text</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">avatars</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/circle-border/index.html">Circle Border</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/circle/index.html">Circle</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/double-ring/index.html">Double Ring</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/rounded-large/index.html">Rounded Large</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/rounded-medium/index.html">Rounded Medium</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/rounded-small/index.html">Rounded Small</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/avatars/square/index.html">Square</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">banners</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/banners/basic/index.html">Basic</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/banners/single-cta/index.html">Single Cta</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">buttons</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/basic-rounded-extra-small/index.html">Basic Rounded Extra Small</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/basic-rounded-small/index.html">Basic Rounded Small</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/basic-rounded/index.html">Basic Rounded</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/basic/index.html">Basic</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/centered-icons/index.html">Centered Icons</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/pill-grow/index.html">Pill Grow</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/buttons/pill/index.html">Pill</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">cards</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/album-centered/index.html">Album Centered</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/album-left/index.html">Album Left</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/news-card/index.html">News Card</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/product-card/index.html">Product Card</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/profile-card-title-subtitle/index.html">Profile Card Title Subtitle</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/profile-card/index.html">Profile Card</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/suggested-profile/index.html">Suggested Profile</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/cards/text-card/index.html">Text Card</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">collections</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/albums/index.html">Albums</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/movies/index.html">Movies</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/posters-dim/index.html">Posters Dim</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/posters/index.html">Posters</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/square-title-subtitle/index.html">Square Title Subtitle</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/collections/vinyl/index.html">Vinyl</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">definition-lists</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/definition-lists/inline/index.html">Inline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/definition-lists/simple/index.html">Simple</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">footers</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/centered-icons-hover-glow/index.html">Centered Icons Hover Glow</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/simple-large-type/index.html">Simple Large Type</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/small-print/index.html">Small Print</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/social-circles/index.html">Social Circles</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/social-simple-text/index.html">Social Simple Text</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/social-simple/index.html">Social Simple</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/social-text/index.html">Social Text</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/footers/social/index.html">Social</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">forms</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/forms/input-text-label/index.html">Input Text Label</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/forms/newsletter-subscription/index.html">Newsletter Subscription</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/forms/sign-in/index.html">Sign In</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/forms/sign-up/index.html">Sign Up</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/forms/textarea-label/index.html">Textarea Label</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">headers</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/headers/circle-avatar-title-subtitle/index.html">Circle Avatar Title Subtitle</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/headers/rounded-avatar-title-subtitle/index.html">Rounded Avatar Title Subtitle</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/headers/startup-hero/index.html">Startup Hero</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">layout</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-16x9/index.html">Aspect Ratio 16x9</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-1x1/index.html">Aspect Ratio 1x1</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-3x4/index.html">Aspect Ratio 3x4</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-4x3/index.html">Aspect Ratio 4x3</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-4x6/index.html">Aspect Ratio 4x6</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-5x7/index.html">Aspect Ratio 5x7</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-5x8/index.html">Aspect Ratio 5x8</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-6x4/index.html">Aspect Ratio 6x4</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-7x5/index.html">Aspect Ratio 7x5</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-8x5/index.html">Aspect Ratio 8x5</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/aspect-ratio-9x16/index.html">Aspect Ratio 9x16</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/centered-container/index.html">Centered Container</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/five-column-collapse-alternate/index.html">Five Column Collapse Alternate</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/five-column-collapse-asymmetrical/index.html">Five Column Collapse Asymmetrical</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/five-column-collapse-mixed/index.html">Five Column Collapse Mixed</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/five-column-collapse-one/index.html">Five Column Collapse One</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/five-column/index.html">Five Column</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/fixed-table-layout-grid-mixed-rows/index.html">Fixed Table Layout Grid Mixed Rows</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/fixed-table-layout-grid/index.html">Fixed Table Layout Grid</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/flag-object-bottom/index.html">Flag Object Bottom</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/flag-object-top/index.html">Flag Object Top</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/flag-object/index.html">Flag Object</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/four-column-collapse-two-collapse-one/index.html">Four Column Collapse Two Collapse One</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/four-column/index.html">Four Column</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-16x9/index.html">Full Bleed 16x9</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-4x6/index.html">Full Bleed 4x6</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-5x7/index.html">Full Bleed 5x7</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-5x8/index.html">Full Bleed 5x8</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-6x4/index.html">Full Bleed 6x4</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-7x5/index.html">Full Bleed 7x5</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-8x5/index.html">Full Bleed 8x5</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-9x16/index.html">Full Bleed 9x16</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-bleed-square/index.html">Full Bleed Square</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/full-screen-centered-title/index.html">Full Screen Centered Title</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/horizontal-aspect-ratios/index.html">Horizontal Aspect Ratios</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/three-column-collapse-one/index.html">Three Column Collapse One</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/three-column/index.html">Three Column</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/layout/two-column/index.html">Two Column</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">links</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/links/animate-background-color/index.html">Animate Background Color</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/links/animate-color/index.html">Animate Color</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/links/dim-no-underline/index.html">Dim No Underline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/links/underline-on-hover/index.html">Underline On Hover</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">lists</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/block-item-dotted-border/index.html">Block Item Dotted Border</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/border-spaced/index.html">Border Spaced</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/border-tight/index.html">Border Tight</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/contact-phone/index.html">Contact Phone</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/follower-notifications-rounded-square-avatar/index.html">Follower Notifications Rounded Square Avatar</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/follower-notifications/index.html">Follower Notifications</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/hashtags/index.html">Hashtags</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/items-image-title-price/index.html">Items Image Title Price</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/large-links-inline/index.html">Large Links Inline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/links-animate-color/index.html">Links Animate Color</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/links-inline/index.html">Links Inline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/links-with-borders-inline/index.html">Links With Borders Inline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/slab-stat-large/index.html">Slab Stat Large</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/slab-stat-small/index.html">Slab Stat Small</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/slab-stat/index.html">Slab Stat</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/lists/title-text/index.html">Title Text</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">nav</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/fixed-semi-transparent/index.html">Fixed Semi Transparent</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/large-title-link-list/index.html">Large Title Link List</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/list-overflow/index.html">List Overflow</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/logo-links-inline-collapse/index.html">Logo Links Inline Collapse</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/logo-links-inline/index.html">Logo Links Inline</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/logo-titles-links-centered/index.html">Logo Titles Links Centered</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/minimal-sign-up/index.html">Minimal Sign Up</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/nav/title-link-list/index.html">Title Link List</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">pages</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/pages/4x4-mixed-grid/index.html">4x4 Mixed Grid</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/pages/double/index.html">Double</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/pages/swiss-cover-five-columns/index.html">Swiss Cover Five Columns</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">quotes</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/quotes/left-border/index.html">Left Border</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/quotes/pull-quote/index.html">Pull Quote</a>
    
  </div>

  <div>
    <h2 class="f6 fw6 mb2 ttc black-70">text</h2>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/large-paragraph/index.html">Large Paragraph</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/narrow-paragraph/index.html">Narrow Paragraph</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/paragraph/index.html">Paragraph</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/small-narrow-paragraph/index.html">Small Narrow Paragraph</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/small-paragraph/index.html">Small Paragraph</a>
    
      <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue dim" href="/components/text/wide-paragraph/index.html">Wide Paragraph</a>
    
  </div>

</section>
