<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - <%= title %></title>
<meta name="description" content="Tachyons Components">
  <%= head %>
  <style type="text/css" media="screen">
    .transparent { color: transparent; } 
  </style>
</head>
<body class="w-100 sans-serif">
  <%= header %>
<main class="bg-white black-70">
  <header class="ph3 ph5-ns pt3 bb bt b--black-10 mb4">
    <div class="mw9 center">
      <% Object.keys(componentsForNav).map(function(category) { %>
        <a class="f6 fw6 b dib mr3 mb3 pb1 link hover-blue black-70 ttc" href="#<%= category%>"><%= category %></a>
      <% }) %>
    </div>
  </header>
  <section>
    <% Object.keys(componentsForNav).map(function(category) { %>
      <div class="ph3 ph5-ns" id="<%= category  %>">
        <div class="mw9 center">
          <h1 class="f6 fw6 pb2 bb b--black-10 black-70 ttc"><%= category %></h1>
        </div>
      </div>
      <div class="ph3 ph5-ns mb5">
        <div class="mw9 center">
          <% componentsForNav[category].map(function(componentForNav) { %>
            <a class="f5 pointer dib mr4 pv2 bg-white black-70 link underline-hover border-box" href="<%= componentForNav.href %>" title="<%= componentForNav.name %>">
              <%= componentForNav.name %>
            </a>
          <% }) %>
      </div>
    </div>
    <% }) %>
  </section>
</main>

  <%= footer %>
  <%= analytics %>
</body>
</html>


