<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - <%= title %></title>
<meta name="description" content="Tachyons Components">
  <%= head %>
  <style type="text/css" media="screen">
    .transparent { color: transparent; }
  </style>
</head>
<body class="w-100 sans-serif">
  <%= header %>
<main class="bg-white black-70">
  <header class="ph3 ph5-ns pt3 bb bt b--black-10 mb4">
    <div class="mw9 center">
      <% Object.keys(componentsForNav).map(function(category) { %>
        <a class="f6 fw6 b dib mr3 mb3 pb1 link hover-blue black-70 ttc" href="#<%= category%>"><%= category %></a>
      <% }) %>
    </div>
  </header>
  <section>
    <% Object.keys(componentsForNav).map(function(category) { %>
      <div class="ph3 ph5-ns" id="<%= category  %>">
        <div class="mw9 center">
          <h1 class="f6 fw6 pb2 bb b--black-10 black-70 ttc"><%= category %></h1>
        </div>
      </div>
      <div class="ph3 ph5-ns mb5">
        <div class="mw9 center cf">
          <% componentsForNav[category].map(function(componentForNav) { %>
            <a class="db pointer link underline-hover black-70 fl w-50 w-third-m w-25-l pb2 pr2 border-box"
               href="<%= componentForNav.href %>"
               title="<%= componentForNav.name %>">
              <div class="ba b--dashed b--black-20 aspect-ratio aspect-ratio--<%= options.screenshotAspectRatio %>">
                <div class="aspect-ratio--object"
                     style="background:url(<%= componentForNav.screenshot.href %>) no-repeat <%= componentForNav.frontMatter.screenshot && componentForNav.frontMatter.screenshot['background-position'] || 'center center' %>/<%= componentForNav.frontMatter.screenshot && componentForNav.frontMatter.screenshot['background-size'] || 'cover' %>;"></div>
              </div>
              <p class="f5 tc">
                <%= componentForNav.name %>
              </p>
            </a>
          <% }) %>
      </div>
    </div>
    <% }) %>
  </section>
</main>

  <%= footer %>
  <%= analytics %>
</body>
</html>


