<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - <%= title %></title>
<meta name="description" content="Tachyons Component">
  <%= templates.head %>
</head>
<body class="w-100 sans-serif <%= bodyClass %>">
<main>
  <div data-name="component">
  <%= content %>
  </div>
  <section data-name="component-info" class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
  <h1 class="f4 f3-ns mt4"><%= name %></h1>
<div class="cf">
<div class="fl w-100 w-75-ns pr0 pr2-ns">
<h2 class="f5">HTML</h2>
<p class="f5 black-70"></p>
<pre class="pa3 ba br2 b--black-10 h5 bg-white-20" id="html">
<%= escapedHtml %>
</pre>
</div>
<div class="fl w-100 w-25-ns pl0 pl2-ns">
<h2 class="f5">css</h2>
<pre class="pa3 ba br2 b--black-10 h5" id="css"><%= componentCss %>
</pre>
</div>
</div>
<div class="cf">
  <div class="fl w-100">
    <h2 class="f5 mb3 mt4">Css stats for this component</h2>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Gzipped Size</dt>
      <dd class="ml0 b f3 f2-ns"><%= stats.gzipSize %><small class="f6">B</small>
      </dd>
    </dl>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Selectors</dt>
      <dd class="ml0 b f3 f2-ns"><%= stats.selectors.total %></dd>
    </dl>
    <dl class="dib mt0">
      <dt class="db f6">Declarations</dt>
      <dd class="ml0 b f3 f2-ns"><%= stats.declarations.total %></dd>
    </dl>
  </div>
  <div class="fl w-100">
    <h2 class="f5 mt4">Modules referenced</h2>
    <ul class="list pl0 cf lh-copy mw7">
      <% modules.map(renderModule) %>
    </ul>
  </div>
</div>

  <% function renderModule(module) { %>
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/<%= module %>"><%= module %></a></li>
  <% } %>


  <h4 class="mt5">Install via npm <small class="fw2 f6 db mt1">Only installs the needed tachyons-modules for this component</small></h4>
  <code class="f6">npm i --save <%= modules.join(' ') %></code>
  <section class="bt b--black-10 mt5 pv4">
    <h1 class="f6 b ttu">Other Components</h1>

  <% Object.keys(componentsByCategory).map(function(category) { %>
    <div>
      <h2 class="f6 fw6 mb2 ttc black-70"><%= category %></h2>
      <% componentsByCategory[category].map(function(component) { %>
        <a class="f6 f5-ns fw4 dib mr3 mb2 black-70 link hover-blue" href="<%= component.page.href %>"><%= component.page.name %></a>
      <% }) %>
    </div>
  <% }) %>
  </section>
  </section>
</main>

  <% function renderClass(klass) { %>
    <li><%= klass %></li>
  <% } %>

	<%= templates.highlight %>
  <%= templates.footer %>
  <%= templates.analytics %>
</body>
</html>


