<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>TACHYONS - <%= title %></title>
<meta name="author" content="@mrmrs">
<meta name="description" content="Tachyons Component">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
</head>
<body class="w-100 sans-serif <%= bodyClass %>">
<main>
  <%= content %>
  <h4>Stats</h4>
  <pre>
<%= stats.gzipSize %> | <%= stats.selectors.total %> | <%= stats.declarations.total %>
---|---|---
bytes | selectors | declarations
  </pre>

  <h1>Classes used</h1>
  <ul class="list pl0 lh-copy">
    <% classes.map(renderClass) %>
  </ul>

  <h1>Referenced modules</h1>
  <ul class="list pl0 lh-copy">
    <% modules.map(renderModule) %>
  </ul>

  <% function renderClass(klass) { %>
    <li><%= klass %></li>
  <% } %>

  <% function renderModule(module) { %>
    <li><a href="https://github.com/tachyons-css/<%= module %>"><%= module %></a></li>
  <% } %>

  <ul>
    <% modules.map(renderModule) %>
  </ul>

  <h4>CSS</h4>
  <pre>
    <%= componentCss %>
  </pre>

  <h4>Install via npm</h4>
  <code>npm i --save <%= modules.join(' ') %></code>
</main>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>


