<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      TACHYONS - Gallery
    </title>
    <meta name="description" content="Gallery of sites that use Tachyons">
    <%= head %>
  </head>
  <body class="w-100 sans-serif">
    <%= siteHeader %>
    <main class="w-100 bt b--black-10 bg-white">
      <section class="bg-black-0125 w-100 pb4 pb5-ns">
          <header class="ph3 ph5-ns w-100 bg-transparent pv3 mb4 mb5-ns bb b--black-10 overflow-auto">
            <div class="nowrap mw9 center">
              <a title="Getting Started" href="#getting-started"
                  class="pb2-ns f6 fw6 dim link black-70 mr2 mr3-m mr4-l dib">
                Getting Started
              </a>
              <a title="Principles" href="#principles"
                  class="pb2-ns f6 fw6 dim link black-70 mr1 mr3-m mr4-l dib">
                Principles
              </a>
              <a title="Features" href="#features"
                  class="pb2-ns f6 fw6 dim link black-70 mr1 mr3-m mr4-l dib">
                Features
              </a>
              <a title="Style Guide" href="#style"
                  class="pb2-ns f6 fw6 dim link black-70 mr1 mr3-m mr4-l dib">
                Style Guide 
              </a>
              <a title="Testimonials" href="#testimonials"
                  class="pb2-ns f6 fw6 dim link black-70 mr1 mr3-m mr4-l dib">
                Testimonials
              </a>
            </div>
          </header>
      </section>
      <section>
          <h3>Gallery</h3>
          <article>
              <h4></h4> 
          </article>
      </section>
  </main>
  <%= siteFooter %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

  </script>
</body>
</html>
