<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }

  #carbonads span:before,
  #carbonads span:after { content: " "; display: table; }
  #carbonads span:after { clear: both; }
  #carbonads span {       *zoom: 1; }

  #carbonads span { padding: 8px; outline: 1px solid rgba(0,0,0,.1); background: rgba(255,255,255,.1); }

  .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
  .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
  .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
  .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

</style>
