<header class="w-100 pa3 ph5-ns bg-white">
  <div class="flex flex-wrap flex-nowrap-ns items-center mw9 center w-100">
    <div class="flex items-center w-100 w-50-ns mb2 mb0-ns">
      <a href="/" class="nowrap dib f5 f4-ns fw6 mt0 mb1 link black-90" title="Home">
        Tachyons
        <div class="dib">
          <small class="nowrap f7 mt2 mt3-ns pr2 black-70">v4.12.0</small>
        </div>
      </a>

                <div class='ml-auto dn inline-flex-l' style='height:20px'>
                <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="24px"></iframe>
                </div>

  <a href="https://twitter.com/intent/tweet?text=Tachyons: A functional css toolkit for designing in the browser.&url=http://tachyons.io" class="twitter nowrap bg-white-50 dim link flex-nowrap dn inline-flex-l items-center br2 ph2 pv1 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="12" height="12" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="white fw6" style="font-size: 12px;">Tweet</span>
  </a>
    </div>
    <nav class="flex w-100 w-50-ns justify-start justify-end-ns">
      <a title="Documentation" href="/docs/"
          class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Docs
      </a>
      <a title="Components" href="/components/"
          class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Components
      </a>
      <a title="Gallery of sites built with Tachyons" href="/gallery/"
          class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Gallery
      </a>
      <a title="Resources" href="/resources/"
          class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
        Resources
      </a>
      <a title="Tachyons on GitHub" href="http://github.com/tachyons-css/tachyons/"
          class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dn dib-l">
        GitHub
      </a>
    </nav>
  </div>
</header>
