<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      TACHYONS - CSS Toolkit
    </title>
    <meta name="description" content="Simple CSS">
    <%= head %>
  </head>
  <body class="w-100 sans-serif">
    <%= siteHeader %>
    <main class="w-100 bt b--black-10">
      <section class="bt b--black-10 bg-black-0125 w-100">
<article class="pb4 pb5-ns" style="background-color: #1b418d;">
      <header class="ph3 ph5-ns w-100 bg-transparent pv3 mb5 bb b--black-20 overflow-auto">
<div class="nowrap">
        <a title="Getting Started" href="#getting-started"
            class="pb2-ns f6 fw6 dim link white-80 mr2 mr3-m mr4-l dib">
          Getting Started
        </a>
        <a title="Principles" href="#principles"
            class="pb2-ns f6 fw6 dim link white-80 mr1 mr3-m mr4-l dib">
          Principles
        </a>
        <a title="Features" href="#features"
            class="pb2-ns f6 fw6 dim link white-80 mr1 mr3-m mr4-l dib">
          Features
        </a>
        <a title="Features" href="#testimonials"
            class="pb2-ns f6 fw6 dim link white-80 mr1 mr3-m mr4-l dib">
          Testimonials
        </a>
        <a title="Modules List" href="#modules"
            class="pb2-ns f6 fw6 dim link white-80 mr1 mr3-m mr4-l dib">
          Modules
        </a>
</div>
      </header>
<div class="cf ph3 ph5-ns">
<div class="fl w-100">
  <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </div>
  <div class="pb3 pt4 white-80 fl-l w-50-l">
    <h1 class="f4 f1-ns lh-title measure mtn">
      Built for designing.
    </h1>
    <p class="f5 f4-ns fw6 b measure lh-copy">
      Create fast loading, highly readable, and
      100% responsive interfaces with as little css as possible.
    </p>
    <p class="measure f5 f4-ns lh-copy dn">
      Modules can be altered, extended, or changed to meet your design needs.
      You shouldn't need to write css everytime you want to build a new
      ui component. By learning the composable building blocks in tachyons, you
      can quickly start to build out interfaces while writing little to no css.
    </p>
  </div>
  <div class="fl-l w-50-l tl tc-ns pt4 pt5-ns">
    <a class="dib ba b--black-20 bg-black-05 f5 small-caps ph4 pv3 link br2 white grow" href="https://raw.githubusercontent.com/tachyons-css/tachyons/master/css/tachyons.min.css">Download Tachyons</a>
<div class="tc-ns mt2">
<code class="f6 di white-60 mono">v4.0.4</code>
</div>


  </div>
</div>
      </article>
          <article class="bt b--black-10 white-80 ph3 ph5-ns pv4 pv5-ns" style="background-color: #1b418d;" id="getting-started">
            <h1 class="mtn f5 ttu">Getting Started</h1>
            <p class="measure lh-copy">
              Copy the line of code below and paste it in the head of the html file(s) you want to include tachyons in.
            </p>
<pre class="pre white-70" style="overflow: auto"><code class="code f6 dib pa2 bg-black-20" style="font-size: 14px;">&lt;link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.4/css/tachyons.min.css"/&gt;</code></pre>
<p class="mt4"><b>or</b> install via npm</p>
<pre class="pre white-70" style="overflow: auto"><code class="code f6 dib pa2 bg-black-20" style="font-size: 14px;">npm install --save-dev tachyons@4.0.1</code></pre>
<p class="mt4"><b>or</b> grab all the source files and build+develop locally</p>
<pre class="pre white-70" style="overflow: auto"><code class="code f6 dib pa2 bg-black-20" style="font-size: 14px;">git clone git@github.com:tachyons-css/tachyons.git
cd tachyons
npm install &amp;&amp; npm build
</code></pre>
          </article>
          <div class="ph3 ph5-ns tl tl-ns bt b--light-gray pv3 pv5-ns" id="principles">
            <h1 class="f5 ttu tracked fw6">Principles</h1>
            <section class="list pln lh-copy mt0">
              <div class="cf">
                <article class="pv2 w-100 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">Responsive</h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    Everything should be 100% responsive. Your website should work regardless of a users
                    device or screensize.
                  </p>
                </article>
                <article class="pv2 fl w-100 pl0 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">Readable</h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    No matter the lighting, or the device, font-sizes should be
                    large enough and contrast should be high enough for your
                    users to easily read your content.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">Performant</h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    Code should be optimized for performance.
                  </p>
                </article>
                <article class="pv2 fl w-100 pl0 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">
                    Modular
                  </h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    Modules &gt; Monoliths
                    Tachyons isn't a monolithic framework. It's a collection of self contained modules
                    that can be mixed and matched or used independently. Only use what you need.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">
                    Reusable
                  </h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    Doing one thing well, promotes reusability and reduces redundancy in a codebase.
                  </p>
                </article>
                <article class="pv2 fl w-100 pl0 ">
                  <h2 class="f4 f1-m f-headline-l fw6 mb0">Easy</h2>
                  <p class="f5 f3-ns measure lh-copy mt0">
                    Designing in the browser should be easy.
                    If a computer can do it, you shouldn't have to.
                  </p>
                </article>
              </div>
            </section>
            <section class="cf" id="features">
              <h1 class="fl w-100 mt5 f5 ttu tracked fw6">Features</h1>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
                  <h2 class="f4 f2-ns fw6 mb0">
                    Runs on <a href="https://github.com/postcss/postcss" class="link dim near-black">Postcss</a>
                  </h2>
                  <p class="mv0 f5 lh-copy measure">
                    A flexible plugin framework for post-processing css.
                    <a href="https://github.com/postcss/postcss" class="link dn
                      dim f6 db mid-gray">View on Github</a>
                  </p>
                </article>
                <article class="pv2 fl w-100 w-50-l pl0 pl2-l">
                  <h2 class="f4 f2-ns fw6 mb0">Mobile-first architecture </h2>
                  <p class="f5 measure lh-copy mt0">
                    Base classes are mobile by default. Can be overridden by
                    namespaced classes targeting larger breakpoints.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 prl-ns">
                  <h2 class="f4 f2-ns fw6 mb0">
                    Layout debugging
                  </h2>
                  <p class="f5 measure lh-copy mt0">
                    Small css modules for debugging stacking and layout issues.
                    Can easily be turned on or off during development.
                  </p>
                </article>
                <article class="pv2 fl w-100 w-50-l pl0 pl2-l">
                  <h2 class="f4 f2-ns fw6 mb0">
                    Composable classes
                  </h2>
                  <p class="f5 measure lh-copy mt0">
                    Construct anything from complex layouts to responsive components with a series of
                    single purpose classes.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
                  <h2 class="f4 f2-ns fw6 mb0">Cohesive design system</h2>
                  <p class="f5 measure lh-copy mt0">
                    Scale based on the powers of two. Starting at .25
                  </p>
                </article>
                <article class="pv2 fl w-100 w-50-l pl0 pl2-l">
                  <h2 class="f4 f2-ns fw6 mb0">Responsive Grid</h2>
                  <p class="f5 measure lh-copy mt0">
                    Infinitely nestable. Fully fluid. Extremely light-weight.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
                  <h2 class="f4 f2-ns fw6 mb0">
                    Easy to Customize and extend
                  </h2>
                  <p class="f5 measure lh-copy mt0">
                    Tachyons is meant to be edited and customized to meet the
                    needs of your project. It's just css. It isn't precious.
                    Don't be afraid to change: class names, media queries,
                    breakpoints, or values.
                  </p>
                </article>
              </div>
            </section>
          </div>
        </div>
      </section>
      <section class="bg-white pv5 pv6-ns bb bt b--light-gray" id="testimonials">
        <div class="ph3 ph5-ns">
          <h1 class="f5 fw6 ttu tracke">Testimonials</h1>
          <div class="cf w-100">
            <blockquote class="fl w-100 mh0 pa3 pa4-l mb2 mb5-ns border-box bg-near-white">
              <p class="fl w-100 w-50-l mh0 mt0 pr0 pr3-l  measure i lh-copy">
                <b>
                  Here’s why I think designing systems with tools/frameworks like <a href="//tachyons.io">Tachyons</a>
                  is a Good Idea™.
                </b>
                Design Systems break as they scale (either scaling org or
                scaling product) because new components/variants of a
                component are introduced.  Those variants sometimes (read: often) go
                undocumented, leading to duplication when that component/variant is needed (and
                created) again.  Even when the component is documented, documenting effectively
                often means dozens/hundreds of instances to capture all states/variants.
              </p>
              <p class="fl w-100 w-50-l mh0 mt0 pl0 pl3-l  measure i lh-copy">
                Systems like Tachyons et al approach this problem by instead documenting and
                limiting *properties* of components.  (I like to think of this as “subatomic”
                design.) You then create components by composing subatomic components
                (properties).  Rather than creating a component and its variants, you simply
                have a comprehensive list of “ingredient” subatomic components.  Those
                subatomic components can be combined in thousands of ways to create hundreds of
                components.  The properties of those components are numerous, but constrained
                to a set of acceptable values (our subatomic components).
              </p>

              <footer class="fl w-100">
                <p>
                  <span class="b">Daniel Eden</span> - <i>Designer / Engineer at Facebook</i>
                </p>
              </footer>

            </blockquote>
            <blockquote class="fl w-100 w-50-l mh0 pr0 pr3-l border-box">
              <p class="f6 f5-ns measure lh-copy pr1 pr0-l i">
                After I embraced the “lots of little classes” way of styling, my anger at CSS
                almost completely went away and I was much more easily able to style and modify
                a design... you really have to try it.
              </p>
              <footer>
                <p>
                  <span class="b">Dave Copeland</span> - <i>Software Engineer at StitchFix</i>
                </p>
              </footer>
            </blockquote>
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pl0 pl3-l border-box">
              <p class="f6 f5-ns measure lh-copy i">
                It turns out composing utilities together like that is a really nice way to style things.
                Adam Morse has taken this to its logical conclusion with Tachyons...
              </p>
              <footer>
                <p>
                  <span class="b">Ben Smithett</span> - <i>Developer</i>
                </p>
              </footer>
            </blockquote>
          </div>
          <div class="cf w-100">
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pr0 pr3-l border-box">
              <p class="f6 f5-ns measure lh-copy i">
                It seems silly at first to write code that looks like inline HTML
                styling but Tachyons works. Instead of wasting time hunting down
                and dealing with CSS overrides, I now spend time iterating on the
                design... which is what we're supposed to be doing in the first
                place :)
              </p>
              <footer>
                <p>
                  <span class="b">Jason Li</span> - <i>Illustrator &amp; Designer</i>
                </p>
              </footer>
            </blockquote>
            <blockquote class="fl w-100 w-50-l mh0 pl0 pl3-l border-box">
              <p class="f6 f5-ns measure lh-copy pl1 pl0-l i">
                I’ve found extremely low-level “frameworks” like BassCSS and Tachyons useful recently. They let you do the whole “just add and remove classes to create elements” thing but also don’t lock you into the constraints and issues of higher level frameworks like Bootstrap.
              </p>
              <footer>
                <p>
                  <span class="b">Cole Peters</span> - <i>Designer</i>
                </p>
              </footer>
            </blockquote>
          </div>
          <div class="cf w-100">
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pr0 pr3-l border-box">
              <p class="f6 f5-ns measure lh-copy i">
                CSS frameworks shouldn't be one-size-fits-all. Tachyons nails it
                with its modular approach, eliminating bloat from day one.
              </p>
              <footer>
                <p>
                  <span class="b">Philip Ardeljan</span> - <i>Designer</i>
                </p>
              </footer>
            </blockquote>
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pl0 pl3-l border-box">
              <p class="f6 f5-ns measure lh-copy i">
                Tachyons nails everything you need from a CSS framework.
                Development goes faster, designs are more consistent, and best of
                all it’s a ton of fun to play with.
              </p>
              <footer>
                <p>
                  <span class="b">Lachlan Campbell </span> - <i>Designer / Developer</i>
                </p>
              </footer>
            </blockquote>
          </div>
          <div class="cf w-100">
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pr0 pr3-l border-box">
              <p class="f6 f5-ns measure lh-copy i">
                I never understood how people did font ratios and table layouts nicely with CSS until @mrmrs showed me the light.
              </p>
              <footer>
                <p>
                  <span class="b">Nat Welch</span> - <i>Software Engineer at Hillary for America</i>
                </p>
              </footer>
            </blockquote>
            <blockquote class="fl w-100 w-50-l mh0 mb2 mb5-l pl0 pl3-l border-box">
              <p class="f6 f5-ns i measure lh-copy pr1 pr0-l i">
                Tachyons enabled the aboutLife team to more easily reason
                about, debug, and change visual styles all while thinking
                _less_ about CSS. We’re able to achieve our desired
                designs more quickly than ever before.
              </p>
              <footer>
                <p>
                  <span class="b">Parsha Pourkhomami</span> - <i>Software Engineer</i>
                </p>
              </footer>
            </blockquote>
          </div>
        </div>
      </section>
      <section class="ph3 ph5-ns bg-white cf pv5 pv6-ns" id="modules">
        <div class="fl w-100">
          <div class="">
            <h1 class="f5 fw6 ttu tracked"><a href="#npm" class="link near-black">Module List</a></h1>
            <p class="f5 f3-ns lh-copy mt0 mb4 measure">
              The main tachyons repo is a collection of encapsulated css modules available on npm and github.
              You can grab the entire toolkit, or a few selected modules.
              Mix and match them to suit your project's needs. Since tachyons modules are very focused on doing one thing well,
              most of them are extremely small (well under a kilobyte) so you
              can start using some or all of them without adding bloat to your css.
            </p>
          </div>
          <code class="dib mb4 ba b--light-gray f6 ph2 pv3" style="background-color: #d1ffff;">npm install --save-dev tachyons-module-name</code>
        </div>
        <% modules.map(renderModule) %>

        <% function renderModule (module) { %>
        <div class="mb3 mb4-ns fl w-100 w-50-m w-33-l">
          <a class="db f5 link mb1 dim near-black b" title="View <%= module.pkg.name %> on GitHub"
            href="//github.com/tachyons-css/<%= module.pkg.name %>">
            <%= module.pkg.name %>
          </a>
          <code class="f6 di fw4 pr2">v<%= module.pkg.version %></code>
          <code class="f6 di black-60"><%= module.size %></code>
        </div>
        <% } %>
        <div class="fl w-100 lh-copy">
          <h1 class="f5 fw6 ttu tracked"><a href="#related-projects" class="link near-black">Related Projects</a></h1>
          <a class="db link f5 f4-ns dim black-70 fw6" href="https://github.com/fab1an/react-native-tachyons">react native tachyons</a>
          <a class="db link f5 f4-ns dim black-70 fw6" href="https://github.com/tachyons-css/tachyons-webpack">tachyons webpack</a>
          <a class="db link f5 f4-ns dim black-70 fw6" href="http://basscss.com">BassCss</a>
        </div>
      </section>
    </main>
    <%= siteFooter %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
