      <section class="ph3 ph5-ns bg-white cf pv5 pv6-ns" id="modules">
        <div class="fl w-100">
          <div class="">
            <h1 class="f5 fw6 ttu tracked"><a href="#npm" class="link near-black">Module List</a></h1>
            <p class="f5 f3-ns lh-copy mt0 mb4 measure">
              The main tachyons repo is a collection of encapsulated css modules available on npm and github.
              You can grab the entire toolkit, or a few selected modules.
              Mix and match them to suit your project’s needs. Since tachyons modules are very focused on doing one thing well,
              most of them are extremely small (well under a kilobyte) so you
              can start using some or all of them without adding bloat to your css.
            </p>
          </div>
          <code class="dib mb4 ba b--light-gray f6 ph2 pv3" style="background-color: #d1ffff;">npm install --save-dev tachyons-module-name</code>
        </div>
        <% modules.map(renderModule) %>

        <% function renderModule (module) { %>
        <div class="mb3 mb4-ns fl w-100 w-50-m w-33-l">
          <a class="db f5 link mb1 dim near-black b" title="View <%= module.pkg.name %> on GitHub"
            href="//github.com/tachyons-css/<%= module.pkg.name %>">
            <%= module.pkg.name %>
          </a>
          <code class="f6 di fw4 pr2">v<%= module.pkg.version %></code>
          <code class="f6 di black-60"><%= module.size %></code>
        </div>
        <% } %>
        <div class="fl w-100 lh-copy">
          <h1 class="f5 fw6 ttu tracked"><a href="#related-projects" class="link near-black">Related Projects</a></h1>
          <a class="db link f5 f4-ns dim black-70 fw6" href="https://github.com/fab1an/react-native-tachyons">react native tachyons</a>
          <a class="db link f5 f4-ns dim black-70 fw6" href="https://github.com/tachyons-css/tachyons-webpack">tachyons webpack</a>
          <a class="db link f5 f4-ns dim black-70 fw6" href="http://basscss.com">BassCss</a>
        </div>
      </section>
