<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= name %> / Theming / Docs / TACHYONS
    </title>
    <meta name="description" content="Documentation for setting background-size on elements with the tachyons-background-size css module.">

    <%= head  %>

  </head>
  <body class="w-100 sans-serif">
    <%= siteHeader  %>
    <main>
      <table class="mw8 center mt4 f5">
        <thead>
          <tr>
            <th class="tl">Selectors</th>
            <th class="tl">Declarations</th>
            <th class="tl">Module</th>
          </tr>
        </thead>
        <tbody>
          <%= tableData %>
        </tbody>
      </table>
    </main>
    <%= siteFooter  %>
    <%= googleAnalytics  %>
  </body>
</html>
