<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= name %> / Docs / TACHYONS
    </title>
    <meta name="description" content="A table view of all the styles in Tachyons.">

    <%= head  %>

  </head>
  <body class="w-100 sans-serif">
    <%= siteHeader %>
    <main class="overflow-auto bg-washed-blue bt b--black-10">
      <header class="pb4 mb4">
      <div class="w-100 pa3 ph5-ns mb5 bb b--black-10 overflow-auto">
      <div class="nowrap">
        <a title="Getting Started" href="/docs/table-of-properties/"
            class="pb2-ns f6 fw6 dim link blue mr2 mr3-m mr4-l dib">
          Tables of Properties
        </a>
        <a title="Principles" href="#principles"
            class="pb2-ns f6 fw6 link blue o-5 mr1 mr3-m mr4-l dib">
            Table of Styles
        </a>
      </div>
    </div>
    <div class="ph3 ph5-ns">
        <h3 class="ttu tracked f4">Table of Styles</h3>
        <p class="measure lh-copy f5">
          Here is a list of each class in Tachyons along with corresponding styles.
        </p>
      </div>
      </header>
      <div class="ph3 ph5-ns">
      <table class="collapse dark-gray mb5">
        <thead>
          <tr>
            <th class="tl fw6 f6 ttu tracked">Selectors</th>
            <th class="tl fw6 f6 ttu tracked">Declarations</th>
            <th class="tl fw6 f6 ttu tracked">Module</th>
          </tr>
        </thead>
        <tbody>
          <%= tableData %>
        </tbody>
      </table>
    </div>
    </main>
    <%= siteFooter  %>
    <%= googleAnalytics  %>
  </body>
</html>
