<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= name %> / Theming / Docs / TACHYONS
    </title>
    <meta name="description" content="An index of all CSS property names.">

    <%= head  %>

  </head>
  <body class="w-100 sans-serif">
    <%= siteHeader  %>
    <main>
      <table class="mw8 center mt4 f5">
        <thead>
          <tr>
            <th class="tl">Properties</th>
            <th class="tl">Selectors</th>
            <th class="tl">Modules</th>
          </tr>
        </thead>
        <tbody>
          <%= tableData %>
        </tbody>
      </table>
    </main>
    <%= siteFooter  %>
    <%= googleAnalytics  %>
  </body>
</html>
