<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - Collections Albums</title>
<meta name="description" content="Tachyons Component">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }

  .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
  .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
  .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
  .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

  #carbonads a:link { text-decoration: none!important; color: #222!important; }

</style>

</head>
<body class="w-100 sans-serif bg-white">
<main>
  <article>
  <h2 class="f3 fw4 pa3 mv0">Albums</h2>
  <div class="cf pa2">
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">Blonde</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Frank Ocean</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/jeffery/id1146718343?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is1.mzstatic.com/image/thumb/Music71/v4/c8/2d/b1/c82db1cd-9dc5-d7cb-2a34-735cf47bb809/source/400x40000bb.png" alt="Young Thug - Jeffery" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100 ttu">Jeffery</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Young Thug</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/untitled-unmastered./id1089846273?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is5.mzstatic.com/image/thumb/Music49/v4/1b/36/43/1b3643c6-e6a3-41bc-7f6d-7c2b64b5d60b/source/400x40000bb.png" alt="Kendrick Lamar untitled unmastered. Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">untitled umastered.</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Kendrick Lamar</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/99.9/id1092026376?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is4.mzstatic.com/image/thumb/Music49/v4/e9/4c/2d/e94c2d5f-bdb0-c565-4cc2-f9dfcf7f0b87/source/400x40000bb.png" alt="Kaytranada 99%" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">99%</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Kaytranada</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/aa/id1067924003?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is3.mzstatic.com/image/thumb/Music49/v4/b6/b0/a1/b6b0a1dd-998d-9786-ca2f-87470be15250/source/400x40000bb.png" alt="Baauer Aa - Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">Aa</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Baauer</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/99-cents/id1054734475?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is3.mzstatic.com/image/thumb/Music62/v4/fa/ae/a6/faaea65f-0819-bb5d-afaa-4f5e84015204/source/400x40000bb.png" alt="Santigold 99 cents - Album cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">99 cents</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Santigold</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/a-moon-shaped-pool/id1111577743?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is2.mzstatic.com/image/thumb/Music18/v4/34/03/34/34033451-12e2-2d0b-c100-11a390922a01/source/400x40000bb.png" alt="A Moon Shaped Pool - Album cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">A Moon Shaped Pool</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Radiohead</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/the-life-of-pablo/id1123231885?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is3.mzstatic.com/image/thumb/Music20/v4/c0/98/d0/c098d05b-7bcc-0ea3-0213-0f69992fda65/source/400x40000bb.png" alt="The Life of Pablo - Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">The Life of Pablo</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Kanye West</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/coloring-book/id1113239004?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is2.mzstatic.com/image/thumb/Music18/v4/5a/42/0f/5a420f73-6490-abc9-bdcc-3001d5c4e9fc/source/400x40000bb.png" alt="Coloring Book - Album cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">Coloring Book</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Chance the Rapper</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="https://geo.itunes.apple.com/us/album/everybody-looking/id1135576036?at=1l3vqFJ&mt=1&app=music" class="db link dim tc">
        <img src="http://is4.mzstatic.com/image/thumb/Music30/v4/9b/2e/e1/9b2ee13e-35fd-0cc1-d203-e65b4beafc7f/source/400x40000bb.png" alt="Everybody Looking - Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">Everybody Looking</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Gucci Mane</dd>
        </dl>
      </a>
    </div>
  </div>
</article>

  <section data-name="component-info" class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
  <h1 class="f4 f3-ns mt4">Albums</h1>
<div class="cf">
<div class="fl w-100 w-75-ns pr0 pr2-ns">
<h2 class="f5">HTML</h2>
<p class="f5 black-70"></p>
<pre class="pa3 ba br2 b--black-10 h5 bg-white-20" id="html">
&lt;article&gt;
  &lt;h2 class=&quot;f3 fw4 pa3 mv0&quot;&gt;Albums&lt;/h2&gt;
  &lt;div class=&quot;cf pa2&quot;&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png&quot; alt=&quot;Frank Ocean Blonde Album Cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;Blonde&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Frank Ocean&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/jeffery/id1146718343?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is1.mzstatic.com/image/thumb/Music71/v4/c8/2d/b1/c82db1cd-9dc5-d7cb-2a34-735cf47bb809/source/400x40000bb.png&quot; alt=&quot;Young Thug - Jeffery&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100 ttu&quot;&gt;Jeffery&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Young Thug&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/untitled-unmastered./id1089846273?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is5.mzstatic.com/image/thumb/Music49/v4/1b/36/43/1b3643c6-e6a3-41bc-7f6d-7c2b64b5d60b/source/400x40000bb.png&quot; alt=&quot;Kendrick Lamar untitled unmastered. Album Cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;untitled umastered.&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Kendrick Lamar&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/99.9/id1092026376?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is4.mzstatic.com/image/thumb/Music49/v4/e9/4c/2d/e94c2d5f-bdb0-c565-4cc2-f9dfcf7f0b87/source/400x40000bb.png&quot; alt=&quot;Kaytranada 99%&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;99%&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Kaytranada&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/aa/id1067924003?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is3.mzstatic.com/image/thumb/Music49/v4/b6/b0/a1/b6b0a1dd-998d-9786-ca2f-87470be15250/source/400x40000bb.png&quot; alt=&quot;Baauer Aa - Album Cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;Aa&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Baauer&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/99-cents/id1054734475?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is3.mzstatic.com/image/thumb/Music62/v4/fa/ae/a6/faaea65f-0819-bb5d-afaa-4f5e84015204/source/400x40000bb.png&quot; alt=&quot;Santigold 99 cents - Album cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;99 cents&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Santigold&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/a-moon-shaped-pool/id1111577743?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is2.mzstatic.com/image/thumb/Music18/v4/34/03/34/34033451-12e2-2d0b-c100-11a390922a01/source/400x40000bb.png&quot; alt=&quot;A Moon Shaped Pool - Album cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;A Moon Shaped Pool&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Radiohead&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/the-life-of-pablo/id1123231885?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is3.mzstatic.com/image/thumb/Music20/v4/c0/98/d0/c098d05b-7bcc-0ea3-0213-0f69992fda65/source/400x40000bb.png&quot; alt=&quot;The Life of Pablo - Album Cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;The Life of Pablo&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Kanye West&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/coloring-book/id1113239004?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is2.mzstatic.com/image/thumb/Music18/v4/5a/42/0f/5a420f73-6490-abc9-bdcc-3001d5c4e9fc/source/400x40000bb.png&quot; alt=&quot;Coloring Book - Album cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;Coloring Book&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Chance the Rapper&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;fl w-50 w-25-m w-20-l pa2&quot;&gt;
      &lt;a href=&quot;https://geo.itunes.apple.com/us/album/everybody-looking/id1135576036?at=1l3vqFJ&amp;mt=1&amp;app=music&quot; class=&quot;db link dim tc&quot;&gt;
        &lt;img src=&quot;http://is4.mzstatic.com/image/thumb/Music30/v4/9b/2e/e1/9b2ee13e-35fd-0cc1-d203-e65b4beafc7f/source/400x40000bb.png&quot; alt=&quot;Everybody Looking - Album Cover&quot; class=&quot;w-100 db outline black-10&quot;/&gt;
        &lt;dl class=&quot;mt2 f6 lh-copy&quot;&gt;
          &lt;dt class=&quot;clip&quot;&gt;Title&lt;/dt&gt;
          &lt;dd class=&quot;ml0 black truncate w-100&quot;&gt;Everybody Looking&lt;/dd&gt;
          &lt;dt class=&quot;clip&quot;&gt;Artist&lt;/dt&gt;
          &lt;dd class=&quot;ml0 gray truncate w-100&quot;&gt;Gucci Mane&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;

</pre>
</div>
<div class="fl w-100 w-25-ns pl0 pl2-ns">
<h2 class="f5">css</h2>
<pre class="pa3 ba br2 b--black-10 h5" id="css">.outline {
    outline: 1px solid;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.fw4 {
    font-weight: 400;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.black-10 {
    color: rgba(0, 0, 0, .1);
}

.black {
    color: #000;
}

.gray {
    color: #777;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.ml0 {
    margin-left: 0;
}

.mt2 {
    margin-top: .5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f3 {
    font-size: 1.5rem;
}

.f6 {
    font-size: .875rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-25-m {
        width: 25%;
    }
}

@media screen and (min-width: 60em) {
    .w-20-l {
        width: 20%;
    }
}

</pre>
</div>
</div>
<div class="cf">
  <div class="fl w-100">
    <h2 class="f5 mb3 mt4">Css stats for this component</h2>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Gzipped Size</dt>
      <dd class="ml0 b f3 f2-ns">627<small class="f6">B</small>
      </dd>
    </dl>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Selectors</dt>
      <dd class="ml0 b f3 f2-ns">37</dd>
    </dl>
    <dl class="dib mt0">
      <dt class="db f6">Declarations</dt>
      <dd class="ml0 b f3 f2-ns">46</dd>
    </dl>
  </div>
  <div class="fl w-100">
    <h2 class="f5 mt4">Modules referenced</h2>
    <ul class="list pl0 cf lh-copy mw7">
      
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-outlines">tachyons-outlines</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-clears">tachyons-clears</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-display">tachyons-display</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-floats">tachyons-floats</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-font-weight">tachyons-font-weight</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-line-height">tachyons-line-height</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-links">tachyons-links</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-widths">tachyons-widths</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-skins">tachyons-skins</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-spacing">tachyons-spacing</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-text-align">tachyons-text-align</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-text-transform">tachyons-text-transform</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-type-scale">tachyons-type-scale</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-typography">tachyons-typography</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-visibility">tachyons-visibility</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-hovers">tachyons-hovers</a></li>
  
    </ul>
  </div>
</div>

  


  <h4 class="mt5">Install via npm <small class="fw2 f6 db mt1">Only installs the needed tachyons-modules for this component</small></h4>
  <code class="f6">npm i --save tachyons-outlines tachyons-clears tachyons-display tachyons-floats tachyons-font-weight tachyons-line-height tachyons-links tachyons-widths tachyons-skins tachyons-spacing tachyons-text-align tachyons-text-transform tachyons-type-scale tachyons-typography tachyons-visibility tachyons-hovers</code>
  <section class="bt b--black-10 mt5 pv4">
    <h1 class="f6 b ttu">Other Components</h1>

  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">articles</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/feature/index.html">Feature</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/full-bleed-background/index.html">Full Bleed Background</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/large-title-text/index.html">Large Title Text</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/left-title-top-border/index.html">Left Title Top Border</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/left-title/index.html">Left Title</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/photo-essay/index.html">Photo Essay</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/single-column-large-title/index.html">Single Column Large Title</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/title-text-image/index.html">Title Text Image</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">banners</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/banners/basic/index.html">Basic</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">buttons</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/buttons/basic/index.html">Basic</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/buttons/pill-grow/index.html">Pill Grow</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/buttons/pill/index.html">Pill</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">cards</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/album-centered/index.html">Album Centered</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/album-left/index.html">Album Left</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/news-card/index.html">News Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/product-card/index.html">Product Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/profile-card-title-subtitle/index.html">Profile Card Title Subtitle</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/profile-card/index.html">Profile Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/text-card/index.html">Text Card</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">collections</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/albums/index.html">Albums</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/movies/index.html">Movies</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/posters/index.html">Posters</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">footers</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/simple-large-type/index.html">Simple Large Type</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/small-print/index.html">Small Print</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social-circles/index.html">Social Circles</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social-text/index.html">Social Text</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social/index.html">Social</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">headers</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/circle-avatar-title-subtitle/index.html">Circle Avatar Title Subtitle</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/fixed-semi-transparent/index.html">Fixed Semi Transparent</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/rounded-avatar-title-subtitle/index.html">Rounded Avatar Title Subtitle</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">layout</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/centered-container/index.html">Centered Container</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/five-column-collapse-alternate/index.html">Five Column Collapse Alternate</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/five-column-collapse-asymmetrical/index.html">Five Column Collapse Asymmetrical</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/five-column-collapse-mixed/index.html">Five Column Collapse Mixed</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/five-column-collapse-one/index.html">Five Column Collapse One</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/five-column/index.html">Five Column</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/fixed-table-layout-grid-mixed-rows/index.html">Fixed Table Layout Grid Mixed Rows</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/fixed-table-layout-grid/index.html">Fixed Table Layout Grid</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/flag-object/index.html">Flag Object</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/four-column-collapse-two-collapse-one/index.html">Four Column Collapse Two Collapse One</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/four-column/index.html">Four Column</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/two-column/index.html">Two Column</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">lists</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/border-spaced/index.html">Border Spaced</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/border-tight/index.html">Border Tight</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/large-links-inline/index.html">Large Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/links-inline/index.html">Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/links-with-borders-inline/index.html">Links With Borders Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat-large/index.html">Slab Stat Large</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat-small/index.html">Slab Stat Small</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat/index.html">Slab Stat</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">nav</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/large-title-link-list/index.html">Large Title Link List</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/list-overflow/index.html">List Overflow</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/logo-links-inline-collapse/index.html">Logo Links Inline Collapse</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/logo-links-inline/index.html">Logo Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/title-link-list/index.html">Title Link List</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">pages</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/pages/double/index.html">Double</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/pages/swiss-cover-five-columns/index.html">Swiss Cover Five Columns</a>
      
    </div>
  
  </section>
  </section>
</main>

  

	<script src="/js/highlight.min.js"></script>
<script>
  hljs.highlightBlock(document.querySelector('#css'))
  hljs.highlightBlock(document.querySelector('#html'))
</script>
<style>
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #111;
  color: rgba(0,0,0,.7);
  background-color: #fff;
  background-color: rgba(255,255,255,.2);
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #006C71;
}

.hljs-string,
.hljs-doctag {
  color: #C64774;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #00449E;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
</style>

  <footer class="bg-washed-blue black-70 ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <a href="https://twitter.com/intent/tweet?text=Tachyons: Functional css for humans.&url=http://tachyons.io" target="_blank" class="dn mb3 twitter bg-white-50 link dim br2 ph2 pb1 pt0 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="dib v-mid white fw6" style="font-size: 12px;">Tweet</span>
  </a>
  <div class="mb4">
    <a class="black-70 link dim b dib mr3" href="/" title="Home">
      Home
    </a>
    <a class="black-70 link dim b dib mr3" href="/docs" title="Docs">
      Docs
    </a>
    <a class="black-70 link dim b dib mr3" href="/components/" title="Components">
      Components
    </a>
  </div>
  <article>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </article>
  <div class="mt4">
    <a class="ba black-70 link br2 dim b dib mr3 mb3 pv2 ph3" href="http://tachyons-slack-invite.herokuapp.com" title="Join our Slack Channel">
      Join our Slack Channel
    </a>
    <a class="ba br2 black-70 link dim b dib pv2 ph3  mb3" href="https://github.com/tachyons-css/tachyons/issues" title="File a bug, request a feature, ask a question!">
      Open an Issue
    </a>
  </div>
  <p class="measure copy lh-copy">
    Have a question? Need help? Feel free to open an issue on GitHub or ask a
    question in our slack channel. We're here to try and help make designing in
    the browser fun.
  </p>
  <div class="pt4 cf mw5">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=tachyonsio" id="_carbonads_js"></script>
  </div>
  <small class="f6 measure db lh-copy mt5">
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle
    that always moves faster than light.
    The word comes from the Greek:
    <br> <br>
    ταχύς or tachys, meaning "swift, quick, fast, rapid"
  </small>

</footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>

</body>
</html>


