{{{
  "bodyClass" : "bg-black"
}}}

<form action="index_submit" method="get" accept-charset="utf-8" class="pv4 mv5">
  <fieldset class="center mw6-ns ph3 ph4-ns bn">
    <legend class="bold ttu tracked-mega pl3 pl0-ns pv3 f3-ns lightest-purple dn">Sign In</legend>
    <div class="mtm">
      <label class="f6 mb2 pl3 pl0-ns ttu tracked-mega db" for="Username">Username</label>
      <input class="f3 fw6 input-reset pl3 pv3 db ba white-80 b--white-20 w-100 bg-white-05 bg-white-10-focus" type="text" name="Username" value="" id="Username" >
    </div>
    <div class="mtl">
      <label class="f6 mb2 pl3 pl0-ns ttu tracked-mega db" for="Username">Password</label>
      <input class="f3 fw6 input-reset pl3 pv3 db ba b--white-20 w-100 white-60 bg-white-05 bg-white-10-focus" type="password" name="password" value="" id="password" >
    </div>
    <div class="mtl dt">
      <div class="dtc w-50 wi-25-ns v-mid">
        <input class="input-reset bg-white-05 lightest-purple pa3 brs fw6 ba b--white-20 ttu tracked-mega bg-white-10-focus" type="submit" value="Sign In">
      </div>
      <div class="dtc w-50 wi-75-ns v-mid">
          <a class="link dim db lightest-purple pv1" href="#">Sign Up</a>
          <a class="link dim db lightest-purple pv1" href="#">Forgot Password?</a>
      </div>

    </div>
  </fieldset>
</form>
