<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - Lists List Block</title>
<meta name="description" content="Tachyons Component">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }
</style>

</head>
<body class="w-100 sans-serif bg-white">
<main>
  <ul class="list">
alignment
    The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.

ascender
    The part of lowercase letters (such as k, b, and d) that ascends above the x-height of the other lowercase letters in a face.

baseline
    The imaginary line on which the majority of the characters in a typeface rest.

body text
    The paragraphs in a document that make up the bulk of its content. The body text should be set in an appropriate and easy-to-read face, typically at 10- or 12-point size.

boldface
    A typeface that has been enhanced by rendering it in darker, thicker strokes so that it will stand out on the page. Headlines that need emphasis should be boldface. Italics are preferable for emphasis in body text.

bullet
    A dot or other special character placed at the left of items in a list to show that they are individual, but related, points.

cap height
    The height from the baseline to the top of the uppercase letters in a font. This may or may not be the same as the height of ascenders. Cap height is used in some systems to measure the type size.

centered
    Text placed at an equal distance from the left and right margins. Headlines are often centered. It is generally not good to mix centered text with flush left or flush right text.

character, character code
    The word character is used differently in different contexts. In the context of modern computer operating systems, it is often defined as a code with a meaning attached to it. For example, the decimal character code 97 represents the letter a. In most operating systems today, character codes are represented by an 8-bit unit of data known as a byte.

    Also see character encoding, glyph, keyboard layout.

character mapping
    See character encoding.

character encoding
    Character encoding is a table in a font or a computer operating system that maps character codes to glyphs in a font. Most operating systems today represent character codes with an 8-bit unit of data known as a byte. Thus, character encoding tables today are restricted to at most 256 character codes. Not all operating system manufacturers use the same character encoding. For example, the Macintosh platform uses the standard Macintosh character set as defined by Apple Computer, Inc., while the Windows operating system uses another encoding entirely, as defined by Microsoft. Fortunately, OpenType fonts (and standard Type 1 fonts) contain all the glyphs needed for both these encodings, so they work correctly not only with these two systems, but others as well.
    Not all operating system manufacturers use the same character encoding. For example, the Macintosh platform uses the standard Macintosh character set as defined by Apple Computer, Inc., while the Windows operating system uses another encoding entirely, as defined by Microsoft. Fortunately, standard Type 1 fonts contain all the glyphs needed for both these encodings, so they work correctly not only with these two systems, but others as well.

    Also see character, glyph, keyboard layout.

color
    See typographic color.

condensed
    A narrower version of a font, used to get a maximum number of glyphs into a given space.

contrast
    A subjective feeling that graphic elements (such as fonts) are different but work together well. This gives a feeling of variety without losing harmony. Within a particular font, contrast also refers to the variety of stroke thicknesses that make up the characters. Helvetica has low contrast and Bodoni has high contrast.

copyfitting
    The process of adjusting the size and spacing of type to make it fit within a defined area of the page.

descender
    The part of lowercase letters (such as y, p, and q) that descends below the baseline of the other lowercase letters in a font face. In some typefaces, the uppercase J and Q also descend below the baseline.

dingbats
    Typefaces that consist of symbol characters such as decorations, arrows and bullets.

display font
    A font that has been designed to look good at large point sizes, often for use in headlines. Typically such a font is not as readable at smaller sizes for large amounts of text. If a serif font with optical sizes, it will likely have lighter weight main stems and much lighter weight serifs and crossbars than a text-size version of the same typeface.

dpi
    An abbreviation for dots per inch. Refers to the resolution at which a device, such as a monitor or printer, can display text and graphics. Monitors are usually 100 dpi or less, and laser printers are 300 dpi or higher. An image printed on a laser printer looks sharper than the same image on a monitor.

drop cap
    A design style in which the first capital letter of a paragraph is set in a larger point size and aligned with the top of the first line. This method is used to indicate the start of a new section of text, such as a chapter.

ellipsis
    A punctuation character consisting of three dots, or periods, in a row. It indicates that a word or phrase has been omitted.

em, em space, em quad
    A common unit of measurement in typography. Em is traditionally defined as the width of the uppercase M in the current face and point size. It is more properly defined as simply the current point size. For example, in 12-point type, em is a distance of 12 points.

em dash
    A dash the length of an em is used to indicate a break in a sentence.

en, en space, en quad
    A common unit of measurement in typography. En is traditionally defined as the width of the uppercase N in the current face and the current point size. It is more properly defined as half the width of an em.

en dash
    A dash the length of an en is used to indicate a range of values.

encoding
    See character encoding.

face
    One of the styles of a family of faces. For example, the italic style of the Garamond family is a face.

family
    Also known as a font family. A collection of faces that were designed and intended to be used together. For example, the Garamond family consists of roman and italic styles, as well as regular, semi-bold, and bold weights. Each of the style and weight combinations is called a face.

flush left
    Text that is aligned on the left margin is said to be set flush left. If the same text is not aligned on the right margin, it is said to be set flush left, ragged right. The term ragged right is sometimes used alone to mean the same thing.

flush right
    Text which is aligned on the right margin is said to be set flush right. If the same text is not aligned on the left margin, it is said to be set flush right, ragged left. The term ragged left is sometimes used alone to mean the same thing.

font
    One weight, width, and style of a typeface. Before scalable type, there was little distinction between the terms font, face, and family. Font and face still tend to be used interchangeably, although the term face is usually more correct.

font family
    Also known as family. The collection of faces that were designed together and intended to be used together. For example, the Garamond font family consists of roman and italic styles, as well as regular, semi-bold, and bold weights. Each of the style and weight combinations is called a face.

glyph
    The word glyph is used differently in different contexts. In the context of modern computer operating systems, it is often defined as a shape in a font that is used to represent a character code on screen or paper. The most common example of a glyph is a letter, but the symbols and shapes in a font like ITC Zapf Dingbats are also glyphs.

    Also see character, character encoding, keyboard layout.

hanging indent
    A document style in which the first line of a paragraph is aligned with the left margin, and the remaining lines are all indented an equal amount. This is sometimes referred to as outdenting. This is an effective style for displaying lists of information.

headline
    The short lines of emphasized text that introduce detail information in the body text that follows. Also the category of faces that are designed to work best in headline text.

hints
    The mathematical instructions added to digital fonts to make them sharp at all sizes and on display devices of different resolutions.

italic
    A slanting or script-like version of a face. The upright faces are often referred to as roman.

justified
    A block of text that has been spaced so that the text aligns on both the left and right margins. Justified text has a more formal appearance, but may be harder to read.

kerning
    The adjustment of horizontal space between individual characters in a line of text. Adjustments in kerning are especially important in large display and headline text lines. Without kerning adjustments, many letter combinations can look awkward. The objective of kerning is to create visually equal spaces between all letters so that the eye can move smoothly along the text.
    Kerning may be applied automatically by the desktop publishing program based on tables of values. Some programs also allow manual kerning to make fine adjustments.

keyboard layout, keyboard mapping
    Sometimes known as a character mapping, a keyboard layout or mapping is a table used by a computer operating system to govern which character code is generated when a key or key combination is pressed.

    Also see character, character encoding, glyph.

leading (pronounced: ledding)
    The amount of space added between lines of text to make the document legible. The term originally referred to the thin lead spacers that printers used to physically increase space between lines of metal type. Most applications automatically apply standard leading based on the point size of the font. Closer leading fits more text on the page, but decreases legibility. Looser leading spreads text out to fill a page and makes the document easier to read. Leading can also be negative, in which case the lines of text are so close that they overlap or touch.

letterspacing
    Adjusting the average distance between letters in a block of text to fit more or less text into the given space or to improve legibility. Kerning allows adjustments between individual letters; letterspacing is applied to a block of text as a whole. Letterspacing is sometimes referred to as tracking or track kerning.

ligature
    Two or more letters tied together into a single letter. In some typefaces, character combinations such as fi and fl overlap, resulting in an unsightly shape. The fi and fl ligatures were designed to improve the appearance of these characters. Letter combinations such as ff, ffl and ffi are available in all Adobe OpenType Pro fonts and selected Adobe OpenType Standard fonts.

margin
    The white spaces around text blocks. Margins typically need to be created on the edges of a page, since most printers can't print to the very edge. White space also makes a document look better and easier to read.

oblique
    A slanting version of a face. Oblique is similar to italic, but without the script quality of a true italic. The upright faces are usually referred to as roman.

OpenType
    The OpenType™ format is a superset of the earlier TrueType and Adobe® PostScript® Type 1 font formats. As jointly defined by Microsoft and Adobe Systems, it is technically an extension of Microsoft's TrueType Open format, which can contain either PostScript font outlines or TrueType font outlines in a single font file that can be used on both Macintosh and Windows platforms. It can also include an expanded character set based on the Unicode encoding standard plus advanced typographic intelligence for glyph positioning and glyph substitution that allow for the inclusion of numerous alternate glyphs in one font file.

paragraph rules
    Graphic lines associated with a paragraph that separate blocks of text. Rules are commonly used to separate columns and isolate graphics on a page. Some desktop publishing programs allow paragraph styles to be created that include paragraph rules above and/or below the paragraph.

pica
    A unit of measure that is approximately 1/6th of an inch. A pica is equal to 12 points. The traditional British and American pica is 0.166 inches. In PostScript printers, a pica is exactly 1/6th of an inch.

point
    A unit of measure in typography. There are approximately 72 points to the inch. A pica is 12 points.

point size
    The common method of measuring type. The distance from the top of the highest ascender to the bottom of the lowest descender in points. In Europe, type is often measured by the cap-height in millimeters.

raised cap
    A design style in which the first capital letter of a paragraph is set in a large point size and aligned with the baseline of the first line of text. Compare to a drop cap.

reverse
    The technique of printing white or light-colored text on a black or dark background for emphasis. This technique greatly reduces legibility, especially with small type.

roman
    Commonly refers to the upright version of a face within a font family, as compared to the italic version.

rule
    A solid or dashed graphic line in documents used to separate the elements of a page. Rules and other graphic devices should be used sparingly, and only for clarifying the function of other elements on the page.

sans serif
    A type face that does not have serifs. Generally a low-contrast design. Sans serif faces lend a clean, simple appearance to documents.

serif
    Small decorative strokes that are added to the end of a letter's main strokes. Serifs improve readability by leading the eye along the line of type.

set solid
    Leading that is equal to the point size of the font in use. Generally used only with larger display sizes.

style
    One of the variations in appearance, such as italic and bold, that make up the faces in a type family.

symbol
    A category of type in which the characters are special symbols rather than alphanumeric characters.

tabular figures
    Numerals that all have the same width. This makes it easier to set tabular matter.

tracking
    The average space between characters in a block of text. Sometimes also referred to as letterspacing.

TrueType
    A scalable type technology which, along with OpenType, is built into both Windows and Mac OS.

Type 1
    The original international type standard for scalable type, invented by Adobe Systems. Type 1 is one of the most commonly available digital type formats and is often used by professional digital graphic designers. It is being superceded by OpenType.

typeface
    The letters, numbers, and symbols that make up a design of type. A typeface is often part of a type family of coordinated designs. The individual typefaces are named after the family and are also specified with a designation, such as italic, bold or condensed.

typeface family
    Also known as family. The collection of faces that were designed together and intended to be used together. For example, the Garamond font family consists of roman and italic styles, as well as regular, semibold, and bold weights. Each of the style and weight combinations is called a face.

typographic color
    The apparent blackness of a block of text. Color is a function of the relative thickness of the strokes that make up the characters in a font, as well as the width, point size, and leading used for setting the text block.

unjustified
    Depending on alignment, this term refers to text which is set flush left, flush right, or centered.

weight
    The relative darkness of the characters in the various typefaces within a type family. Weight is indicated by relative terms such as thin, light, bold, extra-bold, and black.

white space
    The blank areas on a page where text and illustrations are not printed. White space should be considered an important graphic element in page design.

width
    One of the possible variations of a typeface within a type family, such as condensed or extended.

word spacing
    Adjusting the average distance between words to improve legibility or to fit a block of text into a given amount of space.

WYSIWYG
    An acronym for What You See Is What You Get. Macintosh, Windows, and some UNIX environments provide a WYSIWYG screen display. What you see on the screen is what you will get on printed output, as accurately as the screen can render it.

x-height
    Traditionally, x-height is the height of the lowercase letter x. It is also the height of the body of lowercase letters in a font, excluding the ascenders and descenders. Some lower-case letters that do not have ascenders or descenders still extend a little bit above or below the x-height as part of their design. The x-height can vary greatly from typeface to typeface at the same point size.
</ul>

  <section data-name="component-info" class="pa3 pa5-ns bt b--black-10 black-70" style="background: #fafafa;">
  <h1 class="f4 f3-ns mt4">List Block</h1>

<div class="cf">
<div class="fl w-100 w-75-ns pr0 pr2-ns">
<h2 class="f5">HTML</h2>
<p class="f5 black-70"></p>
<pre class="pa3 ba br2 b--black-05 h5" id="html">
&lt;ul class=&quot;list&quot;&gt;
alignment
    The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.

ascender
    The part of lowercase letters (such as k, b, and d) that ascends above the x-height of the other lowercase letters in a face.

baseline
    The imaginary line on which the majority of the characters in a typeface rest.

body text
    The paragraphs in a document that make up the bulk of its content. The body text should be set in an appropriate and easy-to-read face, typically at 10- or 12-point size.

boldface
    A typeface that has been enhanced by rendering it in darker, thicker strokes so that it will stand out on the page. Headlines that need emphasis should be boldface. Italics are preferable for emphasis in body text.

bullet
    A dot or other special character placed at the left of items in a list to show that they are individual, but related, points.

cap height
    The height from the baseline to the top of the uppercase letters in a font. This may or may not be the same as the height of ascenders. Cap height is used in some systems to measure the type size.

centered
    Text placed at an equal distance from the left and right margins. Headlines are often centered. It is generally not good to mix centered text with flush left or flush right text.

character, character code
    The word character is used differently in different contexts. In the context of modern computer operating systems, it is often defined as a code with a meaning attached to it. For example, the decimal character code 97 represents the letter a. In most operating systems today, character codes are represented by an 8-bit unit of data known as a byte.

    Also see character encoding, glyph, keyboard layout.

character mapping
    See character encoding.

character encoding
    Character encoding is a table in a font or a computer operating system that maps character codes to glyphs in a font. Most operating systems today represent character codes with an 8-bit unit of data known as a byte. Thus, character encoding tables today are restricted to at most 256 character codes. Not all operating system manufacturers use the same character encoding. For example, the Macintosh platform uses the standard Macintosh character set as defined by Apple Computer, Inc., while the Windows operating system uses another encoding entirely, as defined by Microsoft. Fortunately, OpenType fonts (and standard Type 1 fonts) contain all the glyphs needed for both these encodings, so they work correctly not only with these two systems, but others as well.
    Not all operating system manufacturers use the same character encoding. For example, the Macintosh platform uses the standard Macintosh character set as defined by Apple Computer, Inc., while the Windows operating system uses another encoding entirely, as defined by Microsoft. Fortunately, standard Type 1 fonts contain all the glyphs needed for both these encodings, so they work correctly not only with these two systems, but others as well.

    Also see character, glyph, keyboard layout.

color
    See typographic color.

condensed
    A narrower version of a font, used to get a maximum number of glyphs into a given space.

contrast
    A subjective feeling that graphic elements (such as fonts) are different but work together well. This gives a feeling of variety without losing harmony. Within a particular font, contrast also refers to the variety of stroke thicknesses that make up the characters. Helvetica has low contrast and Bodoni has high contrast.

copyfitting
    The process of adjusting the size and spacing of type to make it fit within a defined area of the page.

descender
    The part of lowercase letters (such as y, p, and q) that descends below the baseline of the other lowercase letters in a font face. In some typefaces, the uppercase J and Q also descend below the baseline.

dingbats
    Typefaces that consist of symbol characters such as decorations, arrows and bullets.

display font
    A font that has been designed to look good at large point sizes, often for use in headlines. Typically such a font is not as readable at smaller sizes for large amounts of text. If a serif font with optical sizes, it will likely have lighter weight main stems and much lighter weight serifs and crossbars than a text-size version of the same typeface.

dpi
    An abbreviation for dots per inch. Refers to the resolution at which a device, such as a monitor or printer, can display text and graphics. Monitors are usually 100 dpi or less, and laser printers are 300 dpi or higher. An image printed on a laser printer looks sharper than the same image on a monitor.

drop cap
    A design style in which the first capital letter of a paragraph is set in a larger point size and aligned with the top of the first line. This method is used to indicate the start of a new section of text, such as a chapter.

ellipsis
    A punctuation character consisting of three dots, or periods, in a row. It indicates that a word or phrase has been omitted.

em, em space, em quad
    A common unit of measurement in typography. Em is traditionally defined as the width of the uppercase M in the current face and point size. It is more properly defined as simply the current point size. For example, in 12-point type, em is a distance of 12 points.

em dash
    A dash the length of an em is used to indicate a break in a sentence.

en, en space, en quad
    A common unit of measurement in typography. En is traditionally defined as the width of the uppercase N in the current face and the current point size. It is more properly defined as half the width of an em.

en dash
    A dash the length of an en is used to indicate a range of values.

encoding
    See character encoding.

face
    One of the styles of a family of faces. For example, the italic style of the Garamond family is a face.

family
    Also known as a font family. A collection of faces that were designed and intended to be used together. For example, the Garamond family consists of roman and italic styles, as well as regular, semi-bold, and bold weights. Each of the style and weight combinations is called a face.

flush left
    Text that is aligned on the left margin is said to be set flush left. If the same text is not aligned on the right margin, it is said to be set flush left, ragged right. The term ragged right is sometimes used alone to mean the same thing.

flush right
    Text which is aligned on the right margin is said to be set flush right. If the same text is not aligned on the left margin, it is said to be set flush right, ragged left. The term ragged left is sometimes used alone to mean the same thing.

font
    One weight, width, and style of a typeface. Before scalable type, there was little distinction between the terms font, face, and family. Font and face still tend to be used interchangeably, although the term face is usually more correct.

font family
    Also known as family. The collection of faces that were designed together and intended to be used together. For example, the Garamond font family consists of roman and italic styles, as well as regular, semi-bold, and bold weights. Each of the style and weight combinations is called a face.

glyph
    The word glyph is used differently in different contexts. In the context of modern computer operating systems, it is often defined as a shape in a font that is used to represent a character code on screen or paper. The most common example of a glyph is a letter, but the symbols and shapes in a font like ITC Zapf Dingbats are also glyphs.

    Also see character, character encoding, keyboard layout.

hanging indent
    A document style in which the first line of a paragraph is aligned with the left margin, and the remaining lines are all indented an equal amount. This is sometimes referred to as outdenting. This is an effective style for displaying lists of information.

headline
    The short lines of emphasized text that introduce detail information in the body text that follows. Also the category of faces that are designed to work best in headline text.

hints
    The mathematical instructions added to digital fonts to make them sharp at all sizes and on display devices of different resolutions.

italic
    A slanting or script-like version of a face. The upright faces are often referred to as roman.

justified
    A block of text that has been spaced so that the text aligns on both the left and right margins. Justified text has a more formal appearance, but may be harder to read.

kerning
    The adjustment of horizontal space between individual characters in a line of text. Adjustments in kerning are especially important in large display and headline text lines. Without kerning adjustments, many letter combinations can look awkward. The objective of kerning is to create visually equal spaces between all letters so that the eye can move smoothly along the text.
    Kerning may be applied automatically by the desktop publishing program based on tables of values. Some programs also allow manual kerning to make fine adjustments.

keyboard layout, keyboard mapping
    Sometimes known as a character mapping, a keyboard layout or mapping is a table used by a computer operating system to govern which character code is generated when a key or key combination is pressed.

    Also see character, character encoding, glyph.

leading (pronounced: ledding)
    The amount of space added between lines of text to make the document legible. The term originally referred to the thin lead spacers that printers used to physically increase space between lines of metal type. Most applications automatically apply standard leading based on the point size of the font. Closer leading fits more text on the page, but decreases legibility. Looser leading spreads text out to fill a page and makes the document easier to read. Leading can also be negative, in which case the lines of text are so close that they overlap or touch.

letterspacing
    Adjusting the average distance between letters in a block of text to fit more or less text into the given space or to improve legibility. Kerning allows adjustments between individual letters; letterspacing is applied to a block of text as a whole. Letterspacing is sometimes referred to as tracking or track kerning.

ligature
    Two or more letters tied together into a single letter. In some typefaces, character combinations such as fi and fl overlap, resulting in an unsightly shape. The fi and fl ligatures were designed to improve the appearance of these characters. Letter combinations such as ff, ffl and ffi are available in all Adobe OpenType Pro fonts and selected Adobe OpenType Standard fonts.

margin
    The white spaces around text blocks. Margins typically need to be created on the edges of a page, since most printers can&#39;t print to the very edge. White space also makes a document look better and easier to read.

oblique
    A slanting version of a face. Oblique is similar to italic, but without the script quality of a true italic. The upright faces are usually referred to as roman.

OpenType
    The OpenType™ format is a superset of the earlier TrueType and Adobe® PostScript® Type 1 font formats. As jointly defined by Microsoft and Adobe Systems, it is technically an extension of Microsoft&#39;s TrueType Open format, which can contain either PostScript font outlines or TrueType font outlines in a single font file that can be used on both Macintosh and Windows platforms. It can also include an expanded character set based on the Unicode encoding standard plus advanced typographic intelligence for glyph positioning and glyph substitution that allow for the inclusion of numerous alternate glyphs in one font file.

paragraph rules
    Graphic lines associated with a paragraph that separate blocks of text. Rules are commonly used to separate columns and isolate graphics on a page. Some desktop publishing programs allow paragraph styles to be created that include paragraph rules above and/or below the paragraph.

pica
    A unit of measure that is approximately 1/6th of an inch. A pica is equal to 12 points. The traditional British and American pica is 0.166 inches. In PostScript printers, a pica is exactly 1/6th of an inch.

point
    A unit of measure in typography. There are approximately 72 points to the inch. A pica is 12 points.

point size
    The common method of measuring type. The distance from the top of the highest ascender to the bottom of the lowest descender in points. In Europe, type is often measured by the cap-height in millimeters.

raised cap
    A design style in which the first capital letter of a paragraph is set in a large point size and aligned with the baseline of the first line of text. Compare to a drop cap.

reverse
    The technique of printing white or light-colored text on a black or dark background for emphasis. This technique greatly reduces legibility, especially with small type.

roman
    Commonly refers to the upright version of a face within a font family, as compared to the italic version.

rule
    A solid or dashed graphic line in documents used to separate the elements of a page. Rules and other graphic devices should be used sparingly, and only for clarifying the function of other elements on the page.

sans serif
    A type face that does not have serifs. Generally a low-contrast design. Sans serif faces lend a clean, simple appearance to documents.

serif
    Small decorative strokes that are added to the end of a letter&#39;s main strokes. Serifs improve readability by leading the eye along the line of type.

set solid
    Leading that is equal to the point size of the font in use. Generally used only with larger display sizes.

style
    One of the variations in appearance, such as italic and bold, that make up the faces in a type family.

symbol
    A category of type in which the characters are special symbols rather than alphanumeric characters.

tabular figures
    Numerals that all have the same width. This makes it easier to set tabular matter.

tracking
    The average space between characters in a block of text. Sometimes also referred to as letterspacing.

TrueType
    A scalable type technology which, along with OpenType, is built into both Windows and Mac OS.

Type 1
    The original international type standard for scalable type, invented by Adobe Systems. Type 1 is one of the most commonly available digital type formats and is often used by professional digital graphic designers. It is being superceded by OpenType.

typeface
    The letters, numbers, and symbols that make up a design of type. A typeface is often part of a type family of coordinated designs. The individual typefaces are named after the family and are also specified with a designation, such as italic, bold or condensed.

typeface family
    Also known as family. The collection of faces that were designed together and intended to be used together. For example, the Garamond font family consists of roman and italic styles, as well as regular, semibold, and bold weights. Each of the style and weight combinations is called a face.

typographic color
    The apparent blackness of a block of text. Color is a function of the relative thickness of the strokes that make up the characters in a font, as well as the width, point size, and leading used for setting the text block.

unjustified
    Depending on alignment, this term refers to text which is set flush left, flush right, or centered.

weight
    The relative darkness of the characters in the various typefaces within a type family. Weight is indicated by relative terms such as thin, light, bold, extra-bold, and black.

white space
    The blank areas on a page where text and illustrations are not printed. White space should be considered an important graphic element in page design.

width
    One of the possible variations of a typeface within a type family, such as condensed or extended.

word spacing
    Adjusting the average distance between words to improve legibility or to fit a block of text into a given amount of space.

WYSIWYG
    An acronym for What You See Is What You Get. Macintosh, Windows, and some UNIX environments provide a WYSIWYG screen display. What you see on the screen is what you will get on printed output, as accurately as the screen can render it.

x-height
    Traditionally, x-height is the height of the lowercase letter x. It is also the height of the body of lowercase letters in a font, excluding the ascenders and descenders. Some lower-case letters that do not have ascenders or descenders still extend a little bit above or below the x-height as part of their design. The x-height can vary greatly from typeface to typeface at the same point size.
&lt;/ul&gt;

</pre>
</div>
<div class="fl w-100 w-25-ns pl0 pl2-ns">
<h2 class="f5">CSS</h2>
<pre class="pa3 ba br2 b--black-05 h5" id="css">.list {
    list-style-type: none;
}

</pre>
</div>
</div>
<div class="cf">
  <div class="fl w-100 w-50-ns">
    <h2 class="f5 mt4">Modules referenced</h2>
    <ul class="list pl0 cf lh-copy mw7">
      
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-lists">tachyons-lists</a></li>
  
    </ul>
  </div>
  <div class="fl w-100 w-50-ns pl0 pl4-ns">
    <h2 class="f5 mb3 mt4">CSS Stats for this Component</h2>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Size (Gzipped)</dt>
      <dd class="ml0 b f3 f2-ns">53</dd>
    </dl>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Selectors</dt>
      <dd class="ml0 b f3 f2-ns">1</dd>
    </dl>
    <dl class="dib mt0">
      <dt class="db f6">Declarations</dt>
      <dd class="ml0 b f3 f2-ns">1</dd>
    </dl>
  </div>
</div>

  


  <h4 class="mt5">Install via npm <small class="fw2 f6 db mt1">Only installs the needed tachyons-modules for this component</small></h4>
  <code class="f6">npm i --save tachyons-lists</code>
  <section class="bt b--black-10 mt5 pv4">
    <h1 class="f6 b ttu">Other Components</h1>

  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">articles</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/large-title-text/index.html">Large Title Text</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/title-text-image/index.html">Title Text Image</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/articles/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">collections</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/collections/product-card/index.html">Product Card</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">footers</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/footers/small-print/index.html">Small Print</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">headers</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/headers/circle-avatar-title-subtitle/index.html">Circle Avatar Title Subtitle</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">layout</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/flag-object/index.html">Flag Object</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/layout/two-column/index.html">Two Column</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">lists</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/large-links-inline/index.html">Large Links Inline</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/links-inline/index.html">Links Inline</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/list-block/index.html">List Block</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/lists/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">nav</h2>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/nav/large-title-link-list/index.html">Large Title Link List</a>
      
        <a class="f5 dib mr3 blue link dim fw6" href="/components/nav/title-link-list/index.html">Title Link List</a>
      
    </div>
  
  </section>
  </section>
</main>

  

	<script src="/js/highlight.min.js"></script>
<script>
  hljs.highlightBlock(document.querySelector('#css'))
  hljs.highlightBlock(document.querySelector('#html'))
</script>
<style>
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
</style>

  <footer class="bg-near-white mid-gray ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <a href="https://twitter.com/intent/tweet?text=Tachyons: Functional CSS for Humans.&url=http://tachyons.io" target="_blank" class="dn mb3 twitter bg-white link dim br2 ph2 pb1 pt0 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="dib v-mid white fw6" style="font-size: 12px;">Tweet</span>
  </a>
  <article>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </article>

  <p>
    <a class="black-70 link dim b dib mr3" href="http://tachyons-slack-invite.herokuapp.com" title="Join our Slack Channel">
      Join our Slack Channel
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css/tachyons/issues" title="File a bug, request a feature, ask a question!">
      Open an Issue
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css" title="Tachyons-css on GitHub">
      GitHub
    </a>
  </p>
  <p class="measure copy lh-copy">
    Have a question? Need help? Feel free to open an issue on GitHub or ask a
    question in our slack channel. We're here to try and help make designing in
    the browser fun.
  </p>
  <small class="f6 measure db lh-copy mt5">
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle
    that always moves faster than light.
    The word comes from the Greek:
    <br> <br>
    ταχύς or tachys, meaning "swift, quick, fast, rapid"
  </small>
</footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>

</body>
</html>


