{{{
  "bodyClass" : "bg-white",
  "screenshot" : {
    "background-size" : "auto"
  }
}}}
<section class="tc pa3 pa5-ns">
  <article class="hide-child relative ba b--black-20 mw5 center">
    <img src="https://pbs.twimg.com/profile_images/858811285521260544/6HA9NUmD_400x400.jpg" class="db" alt="Photo of Mark Hadley" />
    <div class="pa2 bt b--black-20">
      <a class="f6 db link dark-blue hover-blue" href="#">Mark Hadley</a>
      <p class="f6 gray mv1">5 mutual friends</p>
      <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f6 br1" href="#">Add Friend</a>
    </div>
    <a class="child absolute top-1 right-1 ba bw1 black-40 grow no-underline br-100 w1 h1 pa2 lh-solid b" href="#">×</a>
  </article>
</section>
