{{{
  "bodyClass" : "bg-white"
}}}
<article class="pa3 pa5-ns">
  <h1>Today</h1>
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Closed Issues</dt>
    <dd class="f3 f2-ns b ml0">1,024</dt>
  </dl>
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Open Issues</dt>
    <dd class="f3 f2-ns b ml0">993</dt>
  </dl>
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Next Release</dt>
    <dd class="f3 f2-ns b ml0">10-22</dt>
  </dl>
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Days Left</dt>
    <dd class="f3 f2-ns b ml0">4</dt>
  </dl>
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Favorite Cat</dt>
    <dd class="f3 f2-ns b ml0">All of Them</dt>
  </dl>
  <dl class="dib">
    <dd class="f6 f5-ns b ml0">App Downloads</dt>
    <dd class="f3 f2-ns b ml0">1,200</dt>
  </dl>
</article>
