<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - Components</title>
<meta name="description" content="Tachyons Components">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }
</style>

</head>
<body class="w-100 sans-serif">
<main>

  
    articles<br>
    
      <a href="/components/articles/title-text-image/index.html">Title Text Image</a><br>
    
      <a href="/components/articles/title-text/index.html">Title Text</a><br>
    
  
    layout<br>
    
      <a href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a><br>
    
      <a href="/components/layout/flag-object/index.html">Flag Object</a><br>
    
      <a href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a><br>
    
      <a href="/components/layout/three-column-collapse-one-two/index.html">Three Column Collapse One Two</a><br>
    
      <a href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a><br>
    
      <a href="/components/layout/two-column/index.html">Two Column</a><br>
    
  
    nav<br>
    
      <a href="/components/nav/large-title-link-list/index.html">Large Title Link List</a><br>
    
      <a href="/components/nav/title-link-list/index.html">Title Link List</a><br>
    
  
</main>

  <footer class="bg-near-white mid-gray ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <a href="https://twitter.com/intent/tweet?text=Tachyons: Functional CSS for Humans.&url=http://tachyons.io" target="_blank" class="dn mb3 twitter bg-white link dim br2 ph2 pb1 pt0 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="dib v-mid white fw6" style="font-size: 12px;">Tweet</span>
  </a>
  <article>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </article>

  <p>
    <a class="black-70 link dim b dib mr3" href="http://tachyons-slack-invite.herokuapp.com" title="Join our Slack Channel">
      Join our Slack Channel
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css/tachyons/issues" title="File a bug, request a feature, ask a question!">
      Open an Issue
    </a>
    <a class="black-70 link dim b dib mr3" href="https://github.com/tachyons-css" title="Tachyons-css on GitHub">
      GitHub
    </a>
  </p>
  <p class="measure copy lh-copy">
    Have a question? Need help? Feel free to open an issue on GitHub or ask a
    question in our slack channel. We're here to try and help make designing in
    the browser fun.
  </p>
  <small class="f6 measure db lh-copy mt5">
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle
    that always moves faster than light.
    The word comes from the Greek:
    <br> <br>
    ταχύς or tachys, meaning "swift, quick, fast, rapid"
  </small>
</footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>

</body>
</html>


