<!DOCTYPE html>
<html lang="en">
<head>
<title>TACHYONS - Collections Profile Card Title Subtitle</title>
<meta name="description" content="Tachyons Component">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="@mrmrs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }

  .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
  .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
  .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
  .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

  #carbonads a:link { text-decoration: none!important; color: #222!important; }

</style>

</head>
<body class="w-100 sans-serif bg-near-white">
<main>
  <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
  <div class="tc">
    <img src="/img/avatar_1.jpg" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Kitty staring at you">
    <h1 class="f3 mb2">Mimi W.</h1>
    <h2 class="f5 fw4 gray mt0">CCO (Chief Cat Officer)</h2>
  </div>
</article>

  <section data-name="component-info" class="pa3 pa5-ns bt b--black-10 black-70 bg-washed-blue">
  <h1 class="f4 f3-ns mt4">Profile Card Title Subtitle</h1>
<div class="cf">
<div class="fl w-100 w-75-ns pr0 pr2-ns">
<h2 class="f5">HTML</h2>
<p class="f5 black-70"></p>
<pre class="pa3 ba br2 b--black-10 h5 bg-white-20" id="html">
&lt;article class=&quot;mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10&quot;&gt;
  &lt;div class=&quot;tc&quot;&gt;
    &lt;img src=&quot;/img/avatar_1.jpg&quot; class=&quot;br-100 h4 w4 dib ba b--black-05 pa2&quot; title=&quot;Kitty staring at you&quot;&gt;
    &lt;h1 class=&quot;f3 mb2&quot;&gt;Mimi W.&lt;/h1&gt;
    &lt;h2 class=&quot;f5 fw4 gray mt0&quot;&gt;CCO (Chief Cat Officer)&lt;/h2&gt;
  &lt;/div&gt;
&lt;/article&gt;

</pre>
</div>
<div class="fl w-100 w-25-ns pl0 pl2-ns">
<h2 class="f5">css</h2>
<pre class="pa3 ba br2 b--black-10 h5" id="css">.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.b--black-05 {
    border-color: rgba(0, 0, 0, .05);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.fw4 {
    font-weight: 400;
}

.h4 {
    height: 8rem;
}

.mw5 {
    max-width: 16rem;
}

.w4 {
    width: 8rem;
}

.gray {
    color: #777;
}

.bg-white {
    background-color: #fff;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mt0 {
    margin-top: 0;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f3 {
    font-size: 1.5rem;
}

.f5 {
    font-size: 1rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

</pre>
</div>
</div>
<div class="cf">
  <div class="fl w-100">
    <h2 class="f5 mb3 mt4">Css stats for this component</h2>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Gzipped Size</dt>
      <dd class="ml0 b f3 f2-ns">370<small class="f6">B</small>
      </dd>
    </dl>
    <dl class="dib mr4 mt0">
      <dt class="db f6">Selectors</dt>
      <dd class="ml0 b f3 f2-ns">22</dd>
    </dl>
    <dl class="dib mt0">
      <dt class="db f6">Declarations</dt>
      <dd class="ml0 b f3 f2-ns">25</dd>
    </dl>
  </div>
  <div class="fl w-100">
    <h2 class="f5 mt4">Modules referenced</h2>
    <ul class="list pl0 cf lh-copy mw7">
      
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-borders">tachyons-borders</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-border-colors">tachyons-border-colors</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-border-radius">tachyons-border-radius</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-display">tachyons-display</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-font-weight">tachyons-font-weight</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-heights">tachyons-heights</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-max-widths">tachyons-max-widths</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-widths">tachyons-widths</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-skins">tachyons-skins</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-spacing">tachyons-spacing</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-text-align">tachyons-text-align</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-type-scale">tachyons-type-scale</a></li>
  
    <li class="fl w-100 w-50-m w-33-ns"><a class="f5 link dim blue fw6" href="https://github.com/tachyons-css/tachyons-utilities">tachyons-utilities</a></li>
  
    </ul>
  </div>
</div>

  


  <h4 class="mt5">Install via npm <small class="fw2 f6 db mt1">Only installs the needed tachyons-modules for this component</small></h4>
  <code class="f6">npm i --save tachyons-borders tachyons-border-colors tachyons-border-radius tachyons-display tachyons-font-weight tachyons-heights tachyons-max-widths tachyons-widths tachyons-skins tachyons-spacing tachyons-text-align tachyons-type-scale tachyons-utilities</code>
  <section class="bt b--black-10 mt5 pv4">
    <h1 class="f6 b ttu">Other Components</h1>

  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">articles</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/full-bleed-background/index.html">Full Bleed Background</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/large-title-text/index.html">Large Title Text</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/left-title-top-border/index.html">Left Title Top Border</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/left-title/index.html">Left Title</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/title-text-image/index.html">Title Text Image</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/articles/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">cards</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/album-centered/index.html">Album Centered</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/cards/album-left/index.html">Album Left</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">collections</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/news-card/index.html">News Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/product-card/index.html">Product Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/profile-card-title-subtitle/index.html">Profile Card Title Subtitle</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/profile-card/index.html">Profile Card</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/collections/text-card/index.html">Text Card</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">footers</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/simple-large-type/index.html">Simple Large Type</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/small-print/index.html">Small Print</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social-circles/index.html">Social Circles</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social-text/index.html">Social Text</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/footers/social/index.html">Social</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">headers</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/circle-avatar-title-subtitle/index.html">Circle Avatar Title Subtitle</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/fixed-semi-transparent/index.html">Fixed Semi Transparent</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/headers/rounded-avatar-title-subtitle/index.html">Rounded Avatar Title Subtitle</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">layout</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/centered-container/index.html">Centered Container</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/flag-object-collapse/index.html">Flag Object Collapse</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/flag-object/index.html">Flag Object</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/four-column-collapse-two/index.html">Four Column Collapse Two</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/four-column/index.html">Four Column</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/two-column-collapse-one/index.html">Two Column Collapse One</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/layout/two-column/index.html">Two Column</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">lists</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/border-spaced/index.html">Border Spaced</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/border-tight/index.html">Border Tight</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/large-links-inline/index.html">Large Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/links-inline/index.html">Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/links-with-borders-inline/index.html">Links With Borders Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat-large/index.html">Slab Stat Large</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat-small/index.html">Slab Stat Small</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/slab-stat/index.html">Slab Stat</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/lists/title-text/index.html">Title Text</a>
      
    </div>
  
    <div>
      <h2 class="f5 mb2 ttc mid-gray">nav</h2>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/large-title-link-list/index.html">Large Title Link List</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/list-overflow/index.html">List Overflow</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/logo-links-inline-collapse/index.html">Logo Links Inline Collapse</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/logo-links-inline/index.html">Logo Links Inline</a>
      
        <a class="f5 dib mr3 mb2 blue link dim fw6" href="/components/nav/title-link-list/index.html">Title Link List</a>
      
    </div>
  
  </section>
  </section>
</main>

  

	<script src="/js/highlight.min.js"></script>
<script>
  hljs.highlightBlock(document.querySelector('#css'))
  hljs.highlightBlock(document.querySelector('#html'))
</script>
<style>
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #111;
  color: rgba(0,0,0,.7);
  background-color: #fff;
  background-color: rgba(255,255,255,.2);
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #006C71;
}

.hljs-string,
.hljs-doctag {
  color: #C64774;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #00449E;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
</style>

  <footer class="bg-washed-blue black-70 ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <a href="https://twitter.com/intent/tweet?text=Tachyons: Functional css for humans.&url=http://tachyons.io" target="_blank" class="dn mb3 twitter bg-white-50 link dim br2 ph2 pb1 pt0 lh-solid" style="background-color: #55acee;">
    <svg class="geomicon dib v-mid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="#fff">
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
    </svg>
    <span class="dib v-mid white fw6" style="font-size: 12px;">Tweet</span>
  </a>
  <div class="mb4">
    <a class="black-70 link dim b dib mr3" href="/" title="Home">
      Home
    </a>
    <a class="black-70 link dim b dib mr3" href="/docs" title="Docs">
      Docs
    </a>
    <a class="black-70 link dim b dib mr3" href="/components/" title="Components">
      Components
    </a>
  </div>
  <article>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tachyons-css&repo=tachyons&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </article>
  <div class="mt4">
    <a class="ba black-70 link br2 dim b dib mr3 mb3 pv2 ph3" href="http://tachyons-slack-invite.herokuapp.com" title="Join our Slack Channel">
      Join our Slack Channel
    </a>
    <a class="ba br2 black-70 link dim b dib pv2 ph3  mb3" href="https://github.com/tachyons-css/tachyons/issues" title="File a bug, request a feature, ask a question!">
      Open an Issue
    </a>
  </div>
  <p class="measure copy lh-copy">
    Have a question? Need help? Feel free to open an issue on GitHub or ask a
    question in our slack channel. We're here to try and help make designing in
    the browser fun.
  </p>
  <div class="pt4 cf mw5">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=tachyonsio" id="_carbonads_js"></script>
  </div>
  <small class="f6 measure db lh-copy mt5">
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle
    that always moves faster than light.
    The word comes from the Greek:
    <br> <br>
    ταχύς or tachys, meaning "swift, quick, fast, rapid"
  </small>

</footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>

</body>
</html>


