{{{
  "bodyClass" : "bg-white",
  "screenshot" : {
    "background-size" : "contain"
  }
}}}
<nav class="dt dt--fixed w-100 border-box pa3 ph5-ns bb b--black-10">
  <div class="dtc dn-ns w-third"></div>
  <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
    <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <div class="static-ns absolute left-0 mt5 mt0-ns db dtc-ns v-mid w-100 w-75-ns h-80 tr">
    <a class="link dim dark-gray tc tr-ns tl-ns f3 f5-ns db dib-ns pv1 mr0 mr4-ns" href="#" title="Home">Home</a>
    <a class="link dim dark-gray tc tl-ns f3 f5-ns db dib-ns pv1 mr0 mr4-ns" href="#" title="About">About</a>
    <a class="link dim dark-gray tc tl-ns f3 f5-ns db dib-ns pv1 mr0" href="#" title="Contact">Contact</a>
  </div>
  <a href="#" class="dtc fr tr v-mid dn-ns w-third p0-ns link dim dark-gray">
    <span class='db w2 mt1 mb2 bw2 pb2 bt bb b--dark-gray'></span>
    <span class='db w2 mt1 bw2 pb1 bt b--dark-gray'></span>
  </a>
</nav>
