{{{
  "bodyClass" : "bg-white"
}}}
<nav class="db dt-ns w-100 border-box pa3 ph5-ns">
  <a class="db dtc-ns v-mid mid-gray link dim w-100 w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
    <img src="/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <div class="db dtc-ns v-mid w-100 w-75-ns tc tr-ns">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="Home">Home</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="How it Works">How it Works</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="Blog">Blog</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="Press">Press</a>
    <a class="link dim dark-gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
  </div>
</nav>
