{{{
  "bodyClass" : "bg-white",
  "screenshot" : {
    "background-size" : "auto"
  }
}}}
<form class="pa4">
  <fieldset id="favorite_movies" class="bn">
    <legend class="fw7 mb2">Favorite Movies</legend>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="spacejam">
      <label class="lh-copy">Space Jam</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="airbud">
      <label class="lh-copy">Air Bud</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="hocuspocus">
      <label class="lh-copy">Hocus Pocus</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="diehard">
      <label class="lh-copy">Die Hard</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="primer">
      <label class="lh-copy">Primer</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="proxy">
      <label class="lh-copy">Hudsucker Proxy</label>
    </div>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" value="homealone">
      <label class="lh-copy">Home Alone</label>
    </div>
  </fieldset>
</form>
